<!DOCTYPE html>
<html>

<head>
    <title>Pikt Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body class="authentication-page">
    <div class="authentication-module">
        <h2>Password reset</h2>
        <div class="authentication-form-block w-form">
            <form method="post">
                {% csrf_token %}
                <p>
                    {{ form.email.errors }}
                    <input type="email" name="{{ form.email.name }}" autocomplete="email" maxlength="254" required id="id_{{ form.email.name }}" class="authentication-field w-input" value="{{ form.email.value|default_if_none:'' }}" placeholder="Email">
                </p>
                <button type="submit" class="button button-small w-button">Reset password</button>
                <br>
                <a href="/login" class="small-link">or sign in instead</a>
            </form>
            <!-- <form id="wf-form-Form" name="wf-form-Form" data-name="Form" method="post" class="authentication-form"
                aria-label="Form">
                {% csrf_token %}
                <div class="w-layout-grid authentication-grid"><input type="email" class="authentication-field w-input"
                        maxlength="256" name="Email" data-name="Email" placeholder="Email" id="Email" required=""><input
                        type="submit" value="Reset password" data-wait="Please wait..."
                        id="w-node-_4ebb5952-efb6-c0fb-2224-5e5b2d558992-b5cf89bd"
                        class="button button-small w-button"><a href="/login" class="small-link">or
                        sign in instead</a></div>
            </form> -->
            <div class="form-success w-form-done" tabindex="-1" role="region" aria-label="Form success">
                <div>Thank you! Please check your inbox.</div>
            </div>
            <div class="form-error w-form-fail" tabindex="-1" role="region" aria-label="Form failure">
                <div>Oops! Something went wrong while resetting your password.</div>
            </div>
        </div>
    </div><a href="/" class="back-to-home w-inline-block"><img
            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058beecd1bd3048e62f48d8_arrow-left.svg"
            loading="lazy" alt="" class="back-icon">
        <div>Back to Home</div>
    </a>
    <!-- <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6057ab51530cb39d3fdac75d"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script> -->
        <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>