<!DOCTYPE html>
<html>

<head>
    <title>Pikt Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body class="authentication-page">
    <div class="authentication-module">
        <h2>Sign up</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            {% if error %}
                <li>{{ error }}</li>
            {% endif %}
            {{ form.as_p }}
            <button class="button" type="submit">Sign up</button>
        </form>
    </div><a href="/" class="back-to-home w-inline-block"><img
            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058beecd1bd3048e62f48d8_arrow-left.svg"
            loading="lazy" alt="" class="back-icon">
        <div>Back to Home</div>
    </a>
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
</body>

</html>