{% extends "root.html" %}
{% block content %}
{% load static %}
<div class="dashboard-container">
    <div data-duration-in="300" data-duration-out="100" data-current="Overview" data-easing="ease" class="w-tabs">
        <div>
            <div class="alert-module" style="opacity: 1; display: flex;">
                <div>Parts inventories successfully</div><a href="#" class="alert-module-link w-inline-block"><img
                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058bf1274d92808ed9a6a84_x.svg"
                        loading="lazy" alt=""></a>
            </div>
        </div>
    </div>
    <div class="table-module">
        <div class="table-headers" style="display: flex; justify-content: space-between; background: white;">
            <h2 class="no-space-bottom">Added Parts</h2>
            <a id="w-node-_4a591f9f-f950-9529-d551-da13bb96044e-a2dac75e" href="{% url 'inventory_addition_success' %}"
                class="button bg-primary-green w-inline-block"
                style="display: flex;">
                <div style="margin-right: 2px;">Finalize</div>
                <img style="height: 20px" src="{% static 'icons/arrow-right-white.svg' %}" loading="lazy" alt="" class="pagination-arrow">
            </a>
        </div>
        <div class="table-content">
            <div class="table-list">
                <div class="w-layout-grid table-headers" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="caption-large">Part name</div>
                    <div class="caption-large">Price</div>
                    <div class="caption-large">Post to Ebay</div>
                </div>
                <a href="#" class="table-row-link w-inline-block">
                    <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                        <div class="table-title">Engine</div>
                        <div>$390.00</div>
                        <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                            <input id="interchange-checkbox" type="checkbox" class="switch">
                            <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                                style="margin-left: 5px;">
                            </span> -->
                        </label>
                    </div>
                </a>
                <a href="#" class="table-row-link w-inline-block">
                    <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                        <div class="table-title">Alternator</div>
                        <div>$70.00</div>
                        <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                            <input id="interchange-checkbox1" type="checkbox" class="switch">
                            <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                                style="margin-left: 5px;">
                            </span> -->
                        </label>
                    </div>
                </a>
                <a href="#" class="table-row-link w-inline-block">
                    <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                        <div class="table-title">A/C Compressor</div>
                        <div>$65.00</div>
                        <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                            <input id="interchange-checkbox2" type="checkbox" class="switch">
                            <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                                style="margin-left: 5px;">
                            </span> -->
                        </label>
                    </div>
                </a>
                <a href="#" class="table-row-link w-inline-block">
                    <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                        <div class="table-title">Bumper Assy (Front)</div>
                        <div>$125.00</div>
                        <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                            <input id="interchange-checkbox" type="checkbox" class="switch">
                            <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                                style="margin-left: 5px;">
                            </span> -->
                        </label>
                    </div>
                </a>
                <a href="#" class="table-row-link w-inline-block">
                    <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                        <div class="table-title">Bumper Assy (Rear)</div>
                        <div>$285.00</div>
                        <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                            <input id="interchange-checkbox9" type="checkbox" class="switch">
                            <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                                style="margin-left: 5px;">
                            </span> -->
                        </label>
                    </div>
                </a>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Starter</div>
                    <div>$110.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox8" type="checkbox" class="switch">
                        <span class="checkbox-label w-form-label" for="interchange-checkbox8"
                            style="margin-left: 5px;">
                        </span>
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Seat (Front)</div>
                    <div>$45.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span>
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Rack and Pinion</div>
                    <div>$70.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span>
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Radiator</div>
                    <div>$75.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span>
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Power Steering Pump</div>
                    <div>$51.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span>
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Door (Front) (Left)</div>
                    <div>$615.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span> -->
                    </label>
                </div>
                <div class="w-layout-grid table-row" style="grid-template-columns: 1fr 1fr 1fr">
                    <div class="table-title">Door (Front) (Right)</div>
                    <div>$615.00</div>
                    <label class="w-checkbox switch-field" style="margin-right: auto; margin-left: 0;">
                        <input id="interchange-checkbox" type="checkbox" class="switch">
                        <!-- <span class="checkbox-label w-form-label" for="interchange-checkbox"
                            style="margin-left: 5px;">
                        </span> -->
                    </label>
                </div>
                <a href="#" class="table-row-link w-inline-block" style="display: none;">
                    <div class="w-layout-grid table-row">
                        <div class="table-title">Bumper Assy (Rear)</div>
                        <div>$285.00</div>
                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                            data-name="Part description" placeholder="Description" id="part-description" required=""
                            style="max-width: 90%;">
                        <div class="status">
                            <div class="indication-color bg-primary-orange"></div>
                            <select id="interchange" name="interchange" data-name="Interchange" required=""
                                class="text-field w-select">
                                <option value="" disabled selected>Select Interchange</option>
                                <option value="1">Sdn, 1.8L</option>
                                <option value="2">Cpe, 1.8L</option>
                            </select>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("filter-button");

    // Get the <span> element that closes the modal
    // var span = document.getElementsByClassName("close")[0];
    // // When the user clicks the button, open the modal 
    // btn.onclick = function () {
    //     modal.style.display = "block";
    // }

    // When the user clicks on <span> (x), close the modal
    // span.onclick = function () {
    //     modal.style.display = "none";
    // }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }


    function clearFilters() {
        // Clear select elements
        document.getElementById('Year-Start').selectedIndex = 0;
        document.getElementById('Year-Start').selectedIndex = 0;
        document.getElementById('Part-Type').selectedIndex = 0;
        document.getElementById('Parts-Grade').selectedIndex = 0;
        document.getElementById('Vehicle-Model').value = '';
        document.getElementById('Vehicle-Make').value = '';

        document.getElementById('Year-Start-Modal').selectedIndex = 0;
        document.getElementById('Year-Start-Modal').selectedIndex = 0;
        document.getElementById('Part-Type-Modal').selectedIndex = 0;
        document.getElementById('Parts-Grade-Modal').selectedIndex = 0;
        document.getElementById('Vehicle-Model-Modal').value = '';
        document.getElementById('Vehicle-Make-Modal').value = '';

        // If you are using any plugins like Select2, you may need to trigger a change event
        // so that the visual component updates correctly.
        $('#Year-Start').val(null).trigger('change');
        $('#Year-End').val(null).trigger('change');
        $('#Part-Type').val(null).trigger('change');
        $('#Parts-Grade').val(null).trigger('change');
        $('#Year-Start-Modal').val(null).trigger('change');
        $('#Year-End-Modal').val(null).trigger('change');
        $('#Part-Type-Modal').val(null).trigger('change');
        $('#Parts-Grade-Modal').val(null).trigger('change');
        // Trigger the filter form submission to refresh the results
        submitFilterForm();
        submitFilterModalForm();
    }


    function submitFilterForm() {
        var formData = new FormData(document.forms[0]);
        var queryParams = new URLSearchParams();

        for (var pair of formData.entries()) {
            queryParams.append(pair[0], pair[1]);
        }

        fetch("{% url 'parts' %}?" + queryParams.toString(), {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById('table-container').innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    }
    function submitFilterModalForm() {
        var formData = new FormData(document.forms[1]);
        var queryParams = new URLSearchParams();

        for (var pair of formData.entries()) {
            queryParams.append(pair[0], pair[1]);
        }

        fetch("{% url 'parts' %}?" + queryParams.toString(), {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => response.text())
            .then(html => {
                document.getElementById('table-container').innerHTML = html;
            })
            .catch(error => console.error('Error:', error));
    }



</script>
<style>
    @media screen and (max-width: 991px) {
        #filter-button {
            display: block !important;
        }
    }

    .form-row {
        margin-bottom: 10px;
    }

    .selection span {
        border-style: none !important;
    }

    .select2 {
        width: 100% !important;
        max-width: 100% !important;
        height: 38px !important;
    }

    .select2-selection__arrow {
        margin-right: 5px !important;
    }

    .select2-selection {
        height: 38px !important;
        border: 1px solid #e3e3e3 !important;
    }

    span.select2-selection.select2-selection--single {
        border: 1px solid #e1e6f0 !important;
        margin-right: 5px !important;
    }

    span.select2-selection.select2-selection--multiple {
        border: 1px solid #e1e6f0 !important;
        max-height: 100px;
        max-width: 28.75vw !important;
        overflow-y: auto;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border-radius: 16px;
        width: 60%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    @supports(-webkit-appearance: none) or (-moz-appearance: none) {

        input[type='checkbox'],
        input[type='radio'] {
            --active: #84ADC7;
            --active-inner: #fff;
            --focus: 2px rgba(39, 94, 254, .3);
            --border: #BBC1E1;
            --border-hover: #275EFE;
            --background: #fff;
            --disabled: #F6F8FF;
            --disabled-inner: #E1E6F9;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background .3s, border-color .3s, box-shadow .2s;

            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
                transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
            }

            &:checked {
                --b: var(--active);
                --bc: var(--active);
                --d-o: .3s;
                --d-t: .6s;
                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
            }

            &:disabled {
                --b: var(--disabled);
                cursor: not-allowed;
                opacity: .9;

                &:checked {
                    --b: var(--disabled-inner);
                    --bc: var(--border);
                }

                &+label {
                    cursor: not-allowed;
                }
            }

            &:hover {
                &:not(:checked) {
                    &:not(:disabled) {
                        --bc: var(--border-hover);
                    }
                }
            }

            &:focus {
                box-shadow: 0 0 0 var(--focus);
            }

            &:not(.switch) {
                width: 21px;

                &:after {
                    opacity: var(--o, 0);
                }

                &:checked {
                    --o: 1;
                }
            }

            &+label {
                font-size: 14px;
                line-height: 21px;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                margin-left: 4px;
            }
        }

        input[type='checkbox'] {
            &:not(.switch) {
                border-radius: 7px;

                &:after {
                    width: 5px;
                    height: 9px;
                    border: 2px solid var(--active-inner);
                    border-top: 0;
                    border-left: 0;
                    left: 7px;
                    top: 4px;
                    transform: rotate(var(--r, 20deg));
                }

                &:checked {
                    --r: 43deg;
                }
            }

            &.switch {
                width: 38px;
                border-radius: 11px;

                &:after {
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background: var(--ab, var(--border));
                    transform: translateX(var(--x, 0));
                }

                &:checked {
                    --ab: var(--active-inner);
                    --x: 17px;
                }

                &:disabled {
                    &:not(:checked) {
                        &:after {
                            opacity: .6;
                        }
                    }
                }
            }
        }

        input[type='radio'] {
            border-radius: 50%;

            &:after {
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: var(--active-inner);
                opacity: 0;
                transform: scale(var(--s, .7));
            }

            &:checked {
                --s: .5;
            }
        }
    }

    // Demo

    ul {
        margin: 12px;
        padding: 0;
        list-style: none;
        width: 100%;
        max-width: 320px;

        li {
            margin: 16px 0;
            position: relative;
        }
    }

    html {
        box-sizing: border-box;
    }

    * {
        box-sizing: inherit;

        &:before,
        &:after {
            box-sizing: inherit;
        }
    }

    // Center & dribbble
    body {
        min-height: 100vh;
        font-family: 'Inter', Arial, sans-serif;
        color: #8A91B4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F6F8FF;

        @media(max-width: 800px) {
            padding: 20px;
        }
    }
</style>
{% endblock %}