{% extends "root.html" %}
{% load static %}
{% block content %}
{% if form.errors %}
<div class="alert-module" style="opacity: 1; display: flex; margin-bottom: 10px; background-color: #FF9494">
    <div>
        <h4 style="margin-bottom: 0px;">Error</h4>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <button type="submit"
        style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; outline: none; color: #000; font-size: 20px; margin-left: 10px; margin-top: -5px;"
        class="alert-module-link w-inline-block"><img loading="lazy"
            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058bf1274d92808ed9a6a84_x.svg"
            alt=""></button>
</div>
{% endif %}

<form id="wf-form-Form" onsubmit="removeDollarSign()" name="wf-form-Form" data-name="Form" method="post"
    enctype="multipart/form-data" aria-label="Form">
    {% csrf_token %}
    <div class="w-layout-grid form-grid space-bottom-small">
        <div style="display: flex; align-items: end;">
            <input type="text" class="text-field w-input" maxlength="256" name="vin" id="vin-input"
                placeholder="VIN" style="margin-right: 10px; margin-bottom: 10px"> 
            <button  onclick="decodeVin()" class="button button-small w-button remove-row" style="height: 38px; margin-right: 5px; margin-bottom: 10px;">Go</button>
        </div>
        <div>
            <h6>Stock Number</h6>
            <input type="text" class="text-field w-input" maxlength="256" name="stock_number" id="stock_number" required>
        </div>
        <div>
            <h6>Year</h6>
            <select name="year" id="year" class="text-field w-select" required>
                <option value="" selected disabled>Select Year</option>
                {% for year in years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Make</h6>
            <select name="make" id="make" class="text-field w-select">
                <option value="" selected disabled>Select Make</option>
                {% for make in makes_models.keys %}
                <option value="{{ make }}">{{ make }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Model</h6>
            <select name="model" id="model" class="text-field w-select" required>
                <option value="" selected disabled>Select Model</option>
                {% for make, models in makes_models.items %}
                <optgroup label="{{ make }}">
                    {% for model in models %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Primary Damage</h6>
            <select name="primary_damage" id="primary-damage" class="text-field w-input">
                <option value="" selected disabled>Select Damage</option>
                {% for damage in damage_types %}
                <option value="{{ damage }}">{{ damage }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Secondary Damage</h6>
            <select name="secondary_damage" id="secondary-damage" class="text-field w-input">
                <option value="" selected disabled>Select Damage</option>
                {% for damage in damage_types %}
                <option value="{{ damage }}">{{ damage }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Yard</h6>
            <input type="text" class="text-field w-input" maxlength="256" name="yard" id="yard" required>
        </div>
        <div>
            <h6>Location</h6>
            <input type="text" class="text-field w-input" maxlength="256" name="location" id="location">
        </div>
        <div>
            <h6>Category</h6>
            <select name="category" id="category" class="text-field w-input">
                <option value="" selected disabled>Select Category</option>
                <option value="Storage">Storage</option>
                <option value="Dismantled">Dismantled</option>
                <option value="Crushed">Crushed</option>
            </select>
        </div>
        <div style="grid-column: span 2;">
            <h6>Description</h6>
            <textarea class="text-field w-input" maxlength="256" name="description" id="description" rows="4" style="resize: none;"></textarea>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown" style="z-index: 500; grid-column: span 2">
            <div data-w-id="47f88ec0-ed82-4189-0832-39236d3f989f" class="nav-link-dropdown w-dropdown-toggle w--open"
                style="background-color: rgb(255, 1, 116, .15) !important; opacity: 1; filter: grayscale(0%); background-color: white; border: 1px solid #e1e6f0; border-radius: 3px;" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="true" role="button" tabindex="0"><img
                    style="height: 26px"
                    src="{% static 'icons/car-red.svg' %}"
                    loading="lazy" alt="" class="nav-icon">
                <div style="color: black">Vehicle Details</div><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60586d393a273570ab97cc78_chevron-down.svg"
                    loading="lazy" alt="" class="nav-dropdown-icon"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="dropdown-list w-dropdown-list"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                <div class="w-layout-grid _2-grid" style="grid-template-columns: 1fr 1fr; padding: 10px;">
                    
                    <div>
                        <h6>Vehicle Engine</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="engine" id="engine">
                    </div>
                    <div>
                        <h6>Mileage</h6>
                        <input type="number" class="text-field w-input" maxlength="256" name="mileage" id="mileage">
                    </div>
                    <div>
                        <h6>Trim</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="trim" id="trim">
                    </div>
                    <div>
                        <h6>Transmission</h6>
                        <select name="transmission" id="transmission" class="text-field w-input">
                            <option value="" selected disabled>Select Category</option>
                            <option value="Automatic">Automatic</option>
                            <option value="Manual">Manual</option>
                            <option value="CVT">CVT</option>
                            <option value="DCT">DCT</option>
                        </select>
                    </div>
                    <div>
                        <h6>Body Type</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="body_type" id="body_type">
                    </div>
                    <div>
                        <h6>Drivetrain</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="drivetrain" id="drivetrain">
                    </div>
                </div>
            </div>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown" style="z-index: 500; grid-column: span 2">
            <div data-w-id="47f88ec0-ed82-4189-0832-39236d3f989f" class="nav-link-dropdown w-dropdown-toggle w--open"
                style="background-color: rgba(255, 183, 49, 0.15) !important; opacity: 1; filter: grayscale(0%); background-color: white; border: 1px solid #e1e6f0; border-radius: 3px;" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="true" role="button" tabindex="0"><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884b47ee33f1eb5676cce_target.svg"
                    loading="lazy" alt="" class="nav-icon">
                <div style="color: black">Interior & Exterior Colors</div><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60586d393a273570ab97cc78_chevron-down.svg"
                    loading="lazy" alt="" class="nav-dropdown-icon"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="dropdown-list w-dropdown-list"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                <div class="w-layout-grid _2-grid" style="grid-template-columns: 1fr 1fr; padding: 10px;">
                    <div>
                        <h6>Exterior Primary</h6>
                        <select name="exterior_primary_color" id="exterior_primary_color" class="text-field w-input">
                            <option value="" selected disabled>Select Color</option>
                            {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <h6>Paint Code</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="exterior_primary_paint_code" id="exterior_primary_paint_code">
                    </div>
                    <div>
                        <h6>Exterior Secondary</h6>
                        <select name="exterior_secondary_color" id="exterior_secondary_color" class="text-field w-input">
                            <option value="" selected disabled>Select Color</option>
                            {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <h6>Paint Code</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="exterior_secondary_paint_code" id="exterior_secondary_paint_code">
                    </div>
                    <div>
                        <h6>Interior Primary</h6>
                        <select name="interior_primary_color" id="interior_primary_color" class="text-field w-input">
                            <option value="" selected disabled>Select Color</option>
                            {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <h6>Paint Code</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="interior_primary_paint_code" id="interior_primary_paint_code">
                    </div>
                    <div>
                        <h6>Interior Secondary</h6>
                        <select name="interior_secondary_color" id="interior_secondary_color" class="text-field w-input">
                            <option value="" selected disabled>Select Color</option>
                            {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <h6>Paint Code</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="interior_secondary_paint_code" id="interior_secondary_paint_code">
                    </div>
                </div>
            </div>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown" style="z-index: 500; grid-column: span 2">
            <div data-w-id="47f88ec0-ed82-4189-0832-39236d3f989f" class="nav-link-dropdown w-dropdown-toggle w--open"
                style="background-color: rgb(118, 63, 249, .15) !important; opacity: 1; filter: grayscale(0%); background-color: white; border: 1px solid #e1e6f0; border-radius: 3px;" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="true" role="button" tabindex="0"><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d03baf8a2d544bd28f_dollar-sign.svg"
                    loading="lazy" alt="" class="nav-icon">
                <div style="color: black">Costs & Fees</div><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60586d393a273570ab97cc78_chevron-down.svg"
                    loading="lazy" alt="" class="nav-dropdown-icon"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="dropdown-list w-dropdown-list"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                <div class="w-layout-grid _2-grid" style="grid-template-columns: 1fr 1fr; padding: 10px;">
                    <div>
                        <h6>Total Cost</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="total_cost" id="total_cost" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Bid Amount</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="bid_amount" id="bid_amount" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Auction Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="auction_fee" id="auction_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Buyer Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="buyer_fee" id="buyer_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Internet Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="internet_fee" id="internet_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Tow Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="tow_fee" id="tow_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Dismantler Cost</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="dismantler_cost" id="dismantler_cost" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Storage Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="storage_fee" id="storage_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Pullout Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="pullout_fee" id="pullout_fee" oninput="formatInput(this)">
                    </div>
                    <div>
                        <h6>Misc Fee</h6>
                        <input type="text" placeholder="$0.00" class="text-field w-input" maxlength="256" name="misc_fee" id="misc_fee" oninput="formatInput(this)">
                    </div>
                </div>
            </div>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown" style="z-index: 500; grid-column: span 2">
            <div data-w-id="47f88ec0-ed82-4189-0832-39236d3f989f" class="nav-link-dropdown w-dropdown-toggle w--open"
                style="background-color: rgb(1, 221, 165, .15) !important; opacity: 1; filter: grayscale(0%); background-color: white; border: 1px solid #e1e6f0; border-radius: 3px;" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="true" role="button" tabindex="0"><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058831adf921f01483b3167_tag.svg"
                    loading="lazy" alt="" class="nav-icon">
                <div style="color: black">Acquisition & Disposal Details</div><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60586d393a273570ab97cc78_chevron-down.svg"
                    loading="lazy" alt="" class="nav-dropdown-icon"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="dropdown-list w-dropdown-list"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                <div class="w-layout-grid _2-grid" style="grid-template-columns: 1fr 1fr; padding: 10px;">
                    <div>
                        <h6>Buyer</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="buyer" id="buyer">
                    </div>
                    <div>
                        <h6>Purchase Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="purchase_date" id="purchase_date">
                    </div>
                    <div>
                        <h6>Possession Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="possession_date" id="possession_date">
                    </div>
                    <div>
                        <h6>Cleared Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="cleared_date" id="cleared_date">
                    </div>
                    <div>
                        <h6>Towed By</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="towed_by" id="towed_by">
                    </div>
                    <div>
                        <h6>Inventoried Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="inventoried_date" id="inventoried_date">
                    </div>
                    <div>
                        <h6>Dismantled By</h6>
                        <input type="text" class="text-field w-input" maxlength="256" name="dismantled_by" id="dismantled_by">
                    </div>
                    <div>
                        <h6>Dismanted Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="dismantled_date" id="dismantled_date">
                    </div>
                    <div>
                        <h6>Crush Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="crush_date" id="crush_date">
                    </div>
                    <div>
                        <h6>Sold Date</h6>
                        <input type="date" class="text-field w-input" maxlength="256" name="sold_date" id="sold_date">
                    </div>
                </div>
            </div>
        </div>
        <div data-hover="false" data-delay="0" class="dropdown w-dropdown" style="z-index: 500; grid-column: span 2">
            <div data-w-id="47f88ec0-ed82-4189-0832-39236d3f989f" class="nav-link-dropdown w-dropdown-toggle w--open"
                style="background-color: rgb(132, 173, 199, .15) !important; opacity: 1; filter: grayscale(0%); background-color: white; border: 1px solid #e1e6f0; border-radius: 3px;" id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0"
                aria-haspopup="menu" aria-expanded="true" role="button" tabindex="0"><img
                    style="height: 26px"
                    src="{% static 'icons/camera.svg' %}"
                    loading="lazy" alt="" class="nav-icon">
                <div style="color: black">Vehicle Images</div><img
                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60586d393a273570ab97cc78_chevron-down.svg"
                    loading="lazy" alt="" class="nav-dropdown-icon"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(180deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            </div>
            <div class="dropdown-list w-dropdown-list"
                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                id="w-dropdown-list-0" aria-labelledby="w-dropdown-toggle-0">
                <div class="w-layout-grid _2-grid" style="grid-template-columns: 1fr 1fr; padding: 10px;">
                    <div>
                        <h6>Image 1</h6>
                        <input type="file" id="images" name="image_1" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 2</h6>
                        <input type="file" id="images" name="image_2" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 3</h6>
                        <input type="file" id="images" name="image_3" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 4</h6>
                        <input type="file" id="images" name="image_4" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 5</h6>
                        <input type="file" id="images" name="image_5" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 6</h6>
                        <input type="file" id="images" name="image_6" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 7</h6>
                        <input type="file" id="images" name="image_7" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 8</h6>
                        <input type="file" id="images" name="image_8" accept="image/*" class="text-field w-input">
                    </div>
                    <div> 
                        <h6>Image 9</h6>
                        <input type="file" id="images" name="image_9" accept="image/*" class="text-field w-input">
                    </div>
                    <div>
                        <h6>Image 10</h6>
                        <input type="file" id="images" name="image_10" accept="image/*" class="text-field w-input">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <input type="submit" value="Add Vehicle" data-wait="Please wait..." class="button button-small w-button">
</form>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->

<script>
    (function ($) {
        $(document).ready(function () {
            $('#fitment-location').select2({
                placeholder: 'Select Part Fitment Location',
                allowClear: true
            });
        });
    })(jQuery);
    (function ($) {
        $(document).ready(function () {
            $('#fitment-year').select2({
                placeholder: 'Year',
                allowClear: true
            });
        });
    })(jQuery);
    (function ($) {
        $(document).ready(function () {
            $('#year_fitment').select2({
                placeholder: 'Select Part Fitment Location',
                allowClear: true,
                closeOnSelect: false
            });
        });
    })(jQuery);
    function formatInput(input) {
        let value = input.value.replace(/\D/g, '');
        value = (value / 100).toFixed(2);
        input.value = value;
    }
    var makesModels = {{ makes_models| safe }};
    $(document).ready(function () {
        $('#make').change(function () {
            var selectedMake = $(this).val();
            var models = makesModels[selectedMake];
            $('#model').empty();
            $('#model').append('<option value="" selected disabled>Select Model</option>');
            $.each(models, function (index, model) {
                $('#model').append('<option value="' + model + '">' + model + '</option>');
            });
        });
    });
    var makesModelsFitment = {{ makes_models| safe }};
    $(document).on('change', '.make_fitment', function () {
        var selectedMake = $(this).val();
        var models = makesModelsFitment[selectedMake];
        var $vehicleModelFitment = $(this).closest('div').find('.model_fitment'); // Use class instead of ID
        $vehicleModelFitment.empty();
        $vehicleModelFitment.append('<option value="" selected disabled>Select Model</option>');
        $.each(models, function (index, model) {
            $vehicleModelFitment.append('<option value="' + model + '">' + model + '</option>');
        });
        $vehicleModelFitment.select2(); // Re-initialize select2 on the new models dropdown
    });

    $(document).ready(function() {
        $('.make_fitment, .model_fitment').select2({
            width: '100%' // Adjust this as necessary
        });
    });
    document.addEventListener('click', function(event) {
        // Check if the clicked element is an 'X' button
        if (event.target.matches('.remove-row')) {
            event.preventDefault();
            var row = event.target.closest('.form-row'); // Replace '.form-row' with the actual class or identifier of your row
            
            // Remove the 'required' attribute from all inputs and selects in this row
            row.querySelectorAll('input, select').forEach(function(input) {
                input.removeAttribute('required');
            });
            
            // Now remove the row from the DOM
            row.remove();
        }
    });
    async function decodeVin() {
        var vin = document.getElementById('vin-input').value;
        if (vin) {
            try {
                const response = await fetch(`https://vpic.nhtsa.dot.gov/api/vehicles/decodevin/${vin}?format=json`);
                const data = await response.json();
                if (data.Results) {
                    // Example: Fill the 'Vehicle Make' field
                    const make = data.Results.find(result => result.Variable === "Make");
                    const model = data.Results.find(result => result.Variable === "Model");
                    const year = data.Results.find(result => result.Variable === "Model Year");
                    const displacement = data.Results.find(result => result.Variable === "Displacement (L)");
                    const trim = data.Results.find(result => result.Variable === "Trim");   
                    const series = data.Results.find(result => result.Variable === "Series");

                    const makeSelect = document.getElementById('make');
                    for (let option of makeSelect.options) {
                        if (option.text.toUpperCase() === make.Value || option.value.toUpperCase() === make.Value) {
                            option.selected = true;
                            $('#make').trigger('change');
                            break;
                        }
                    }
                    const modelSelect = document.getElementById('model');
                    for (let option of modelSelect.options) {
                        if (option.text.toUpperCase() === model.Value.toUpperCase() || option.value.toUpperCase() === model.Value.toUpperCase()) {
                            option.selected = true;
                            $('#model').trigger('change');
                            break;
                        }
                    }
                    const yearSelect = document.getElementById('year');
                    for (let option of yearSelect.options) {
                        if (option.text.toUpperCase() === year.Value.toUpperCase() || option.value.toUpperCase() === year.Value.toUpperCase()) {
                            option.selected = true;
                            $('#year').trigger('change');
                            break;
                        }
                    }
                    const engineInput = document.getElementById('engine');
                    engineInput.value = displacement.Value;
                    const trimInput = document.getElementById('trim');
                    if (trim.Value && series.Value){
                        trimInput.value = trim.Value + ' ' + series.Value;
                    }
                    else if(trim.Value){
                        trimInput.value = trim.Value;
                    } else if (series.Value){
                        trimInput.value = series.Value;
                    }


                }
            } catch (error) {
                console.error('Error decoding VIN:', error);
            }
        }
    }



</script>
<style>
    .nav-link-dropdown {
        filter: none !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .nav-link-dropdown {
        filter: none !important;
        -webkit-filter: none !important;
    }
    .w-dropdown {
        z-index: 1 !important;
    }
    .w-layout-grid._2-grid {
        border:1px solid #e1e6f0; 
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .form-row{
        margin-bottom: 10px;
    }
    .selection span {
        border-style: none !important;
    }
    .select2 {
        width: 100% !important;
        max-width: 100% !important;
        height: 38px !important;
    }
    .select2-selection__arrow{
        margin-right: 5px !important;
    }
    .select2-selection {
        height: 38px !important;
        border: 1px solid #e3e3e3 !important;
    }
    span.select2-selection.select2-selection--single {
        border: 1px solid #e1e6f0 !important;
        margin-right: 5px !important;
    }
    span.select2-selection.select2-selection--multiple {
        border: 1px solid #e1e6f0 !important;
        max-height: 100px;
        max-width: 28.75vw !important;
        overflow-y: auto;
    }
    
    

</style>
{% endblock %}