<div id="customer-list" style="display: grid; grid-row-gap: 5px;">
    {% if customers %}
    {% for customer in customers %}
    <a href="/user">
        <div class="table-module">
            <div class="full-table-row">
                <div>
                    <h6 class="no-space-bottom">{{ customer.name }} - {{ customer.owner }}</h6>
                    <div class="small-text text-grey-3">{{ customer.email }} - {{ customer.phone }}</div>
                </div>
                <a href="/dashboards/generate-quote/{{ customer.id }}" class="button button-small button-outline w-button" data-id="{{ customer.id }}">Generate Quote</a>
                
            </div>
        </div>
    </a>
    {% endfor %}
    {% else %}
    <p>No customers found.</p>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let debounceTimeout;
        let currentRequest = null;

        function debounce(func, delay) {
            return function (...args) {
                clearTimeout(debounceTimeout);
                debounceTimeout = setTimeout(() => func.apply(this, args), delay);
            };
        }

        function searchCustomers(query) {
            if (currentRequest) {
                currentRequest.abort();
            }

            currentRequest = $.ajax({
                url: "{% url 'customer_list' %}",
                data: { 'q': query },
                success: function (data) {
                    $('#customer-list').html(data.html);
                },
                complete: function () {
                    currentRequest = null;
                }
            });
        }

        const debouncedSearch = debounce(function () {
            const query = document.getElementById('search').value.trim();
            searchCustomers(query);
        }, 50);

        document.getElementById('search').addEventListener('input', debouncedSearch);
    });
</script>