{% extends "root.html" %}
{% load tags %}
{% block content %}
{% if form.errors %}
<div class="alert-module" style="opacity: 1; display: flex; margin-bottom: 10px; background-color: #FF9494">
    <div>
        <h4 style="margin-bottom: 0px;">Error</h4>
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    <button type="submit"
        style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; outline: none; color: #000; font-size: 20px; margin-left: 10px; margin-top: -5px;"
        class="alert-module-link w-inline-block"><img loading="lazy"
            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058bf1274d92808ed9a6a84_x.svg"
            alt=""></button>
</div>
{% endif %}

<form id="wf-form-Form" onsubmit="removeDollarSign()" name="wf-form-Form" data-name="Form" method="post"
    enctype="multipart/form-data" action="{% url 'edit_part' part.id %}" aria-label="Form">
    {% csrf_token %}
    <div class="w-layout-grid form-grid space-bottom-small">
        <div>
            <h6>Vehicle Year</h6>
            <select name="vehicle_year" id="Vehicle-Year" class="text-field w-select" required="">
                <option value="" selected disabled>Select Year</option>
                {% for year in years %}
                {% ifequal year form.vehicle_year.value %}
                <option value="{{ year }}" selected>{{ year }}</option>
                {% else %}
                <option value="{{ year }}">{{ year }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Vehicle Make</h6>
            <select name="vehicle_make" id="vehicle_make" class="text-field w-select" required="">
                <option value="" selected disabled>Select Make</option>
                {% for make in makes_models.keys %}
                {% ifequal make form.vehicle_make.value %}
                <option value="{{ make }}" selected>{{ make }}</option>
                {% else %}
                <option value="{{ make }}">{{ make }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Vehicle Model</h6>
            <select name="vehicle_model" id="vehicle_model" class="text-field w-select" required="">
                <option value="" selected disabled>Select Model</option>
                {% for make, models in makes_models.items %}
                <optgroup label="{{ make }}">
                    {% for model in models %}
                    {% ifequal model form.vehicle_model.value %}
                    <option value="{{ model }}" selected>{{ model }}</option>
                    {% else %}
                    <option value="{{ model }}">{{ model }}</option>
                    {% endifequal %}
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Vehicle Trim</h6>
            <input type="text" class="text-field w-input" value="{{ form.vehicle_trim.value }}" maxlength="256"
                name="vehicle_trim" id="Vehicle-Trim" required="">
        </div>
        <div>
            <h6>Vehicle Engine</h6>
            <input type="text" class="text-field w-input" value="{{ form.vehicle_engine.value }}" maxlength="256"
                name="vehicle_engine" id="Vehicle-Engine" required="">
        </div>
        <div>
            <h6>Vehicle Color</h6>
            <select name="vehicle_color" id="Vehicle-Color" class="text-field w-input" required="">
                <option value="" selected disabled>Select Color</option>
                {% for color in colors %}
                {% ifequal color form.vehicle_color.value %}
                <option value="{{ color }}" selected>{{ color }}</option>
                {% else %}
                <option value="{{ color }}">{{ color }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Part Type</h6>
            <select name="type" id="Part-Type" class="text-field w-select" required>
                <option value="" selected disabled>Select Part Type</option>
                {% for part in part_types %}
                {% ifequal part form.type.value %}
                <option value="{{ part }}" selected>{{ part }}</option>
                {% else %}
                <option value="{{ part }}">{{ part }}</option>
                {% endifequal %}
                {% endfor %}
            </select>
        </div>
        <div>
            <h6>Part Fitment Location</h6>
            <select name="fitment_location" id="fitment-location" class="text-field w-select" required="" multiple>
                <option value="Left" {% if "Left" in form.fitment_location.value %} selected {% endif %}>Left</option>
                <option value="Right" {% if "Right" in form.fitment_location.value %} selected {% endif %}>Right
                </option>
                <option value="Top" {% if "Top" in form.fitment_location.value %} selected {% endif %}>Top</option>
                <option value="Bottom" {% if "Bottom" in form.fitment_location.value %} selected {% endif %}>Bottom
                </option>
                <option value="Front" {% if "Front" in form.fitment_location.value %} selected {% endif %}>Front
                </option>
                <option value="Back" {% if "Back" in form.fitment_location.value %} selected {% endif %}>Back</option>
                <option value="Pair" {% if "Pair" in form.fitment_location.value %} selected {% endif %}>Pair</option>
            </select>
        </div>
        <div>
            <h6>Part Grade</h6>
            <select name="grade" id="Vehicle-Years" class="text-field w-select" required="">
                <option value="" selected disabled>Select Part Grade</option>
                <option value="A" {% if "A" in form.grade.value %} selected {% endif %}>A</option>
                <option value="B" {% if "B" in form.grade.value %} selected {% endif %}>B</option>
                <option value="C" {% if "C" in form.grade.value %} selected {% endif %}>C</option>
            </select>
        </div>
        <div>
            <h6>Interchange Number</h6>
            <input type="text" class="text-field w-input" value="{{ form.hollander_interchange.value }}" maxlength="256"
                name="hollander_interchange" id="Part-Interchange-Number" required="">
        </div>
        <div>
            <h6>Part Weight</h6>
            <div class="caption">Required</div>
            <div style="display: flex; align-items: center;">
                <input name="lbs" class="text-field w-input" type="number" placeholder="" value="{{ part_lbs }}"
                    required style="margin-right: 2px;" />
                <label style="font-weight: normal; margin-right: 5px;">lbs</label>
                <input name="ozs" class="text-field w-input" type="number" placeholder="" value="{{ part_ozs }}"
                    required style="margin-right: 2px;" />
                <label style="font-weight: normal;">oz</label>
            </div>
        </div>
        <div>
            <h6>Part Dimensions</h6>
            <div class="caption">Required</div>
            <div style="display: flex; align-items: center;">
                <input type="number" name="length" value="{{ form.length.value }}" placeholder="in."
                    class="text-field w-input" required style="margin-right: 2px" />
                <label style="font-weight: normal;">x</label>
                <input type="number" name="width" value="{{ form.width.value }}" placeholder="in."
                    class="text-field w-input" required style="margin-right: 2px" />
                <label style="font-weight: normal;">x</label>
                <input type="number" name="height" value="{{ form.height.value }}" placeholder="in." required
                    class="text-field w-input" />
            </div>
        </div>
        <div>
            <h6>Part Notes</h6>
            <input type="text" class="text-field w-input" value="{{ form.notes.value }}" maxlength="256" name="notes"
                id="Vehicle-Part-Notes" required="">
        </div>
        <div style="grid-column: span 2;">
            <h6>Vehicle Fitment Information</h6>
            <div id="selects-container">
                <div style="display: none; justify-content: space-between;" class="form-row">
                    <button class="button button-small w-button remove-row"
                        style="height: 38px; margin-right: 5px;">X</button>
                    <select style="flex: 1; margin-right: 5px;" name="vehicle_make"
                        class="text-field vehicle_make_fitment w-select">
                        <option value="" selected disabled>Make</option>
                        {% for make in makes_models.keys %}
                        <option value="{{ make }}">{{ make }}</option>
                        {% endfor %}
                    </select>
                    <select style="flex: 1; margin-right: 5px;" name="vehicle_model"
                        class="text-field vehicle_model_fitment w-select">
                        {% for make, models in makes_models.items %}
                        <optgroup label="{{ make }}">
                            {% for model in models %}
                            {% ifequal make fitment.make %}
                            <option value="{{ model }}" selected>{{ model }}</option>
                            {% else %}
                            <option value="{{ model }}">{{ model }}</option>
                            {% endifequal %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <select style="flex: 1; min-width: 50px; margin-right: 5px;" name="fitment_location"
                        class="text-field vehicle_year_fitment w-select" multiple>
                        <!-- <option value="" disabled>Year</option> -->
                        {% for year in years %}
                        <option placeholder="Years" value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
                <button id="add-button" class="button button-small w-button">+ Addtional Fitment</button>
            </div>
        </div>
        <div>
            <h6>Part Price</h6>
            <div class="caption">Listing price for the part</div>
            <div style="display: flex; align-items: center;">
                <h3>$</h3>
                <input type="text" value="{{ form.price.value }}" placeholder="$0.00" class="text-field w-input"
                    maxlength="256" name="price" id="Part-Price" required oninput="formatInput(this)">
            </div>
        </div>
        <div>
            <h6>Part cost</h6>
            <div class="caption">How much you paid for the part</div>
            <div style="display: flex; align-items: center;">
                <h3>$</h3>
                <input type="text" value="{{ form.cost.value }}" placeholder="$0.00" class="text-field w-input"
                    maxlength="256" name="cost" id="Part-Price" required oninput="formatInput(this)">
            </div>
        </div>
        <div style="grid-column: span 2;">
            <h6>Upload Images</h6>
            <div class="caption">Primary Image</div>
            <!-- Repeat this block for each image field -->
            <div style="display: flex; align-items: center !important; margin-bottom: 10px">
                <img id="part_image_1_preview" src="{{ part.part_image_1.url }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_1" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_2_preview" src="{{ form.part_image_2.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_2" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_3_preview" src="{{ form.part_image_3.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_3" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_4_preview" src="{{ form.part_image_4.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_4" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_5_preview" src="{{ form.part_image_5.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_5" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_6_preview" src="{{ form.part_image_6.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_6" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_7_preview" src="{{ form.part_image_7.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_7" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_8_preview" src="{{ form.part_image_8.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_8" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_9_preview" src="{{ form.part_image_9.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="images" name="part_image_9" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px">
                <img id="part_image_10_preview" src="{{ form.part_image_10.value }}" style="width: 50px; height: 50px; margin-right: 10px">
                <input type="file" id="part_image_10" name="part_image_10" accept="image/*" class="text-field w-input" style="margin-bottom: 0px">
            </div>
            <!-- End of block -->
            <label for="images">Drag and drop your images here, or click to select images.</label>
        </div>

    </div>
    <input type="submit" value="Save Part" data-wait="Please wait..." class="button button-small w-button">
</form>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script> -->

<script>
    for (var i = 1; i <= 10; i++) {
        // Get the image and file input elements
        var image = document.getElementById('part_image_' + i);
        var fileInput = document.getElementById('part_image_' + i);
        console.log(image)

        // Check if the src attribute is set
        var hasPresetValue = image && image.src;
        console.log(hasPresetValue);

        if (hasPresetValue) {
            // Change the color of the file input field
            fileInput.style.backgroundColor = 'lightgreen'; // Replace 'lightgreen' with the color you want

            // Add a note
            var note = document.createElement('p');
            note.textContent = 'This field has a preset value.';
            fileInput.parentNode.appendChild(note);
        }
    }

    (function ($) {
        $(document).ready(function () {
            $('#fitment-location').select2({
                placeholder: 'Select Part Fitment Location',
                allowClear: true
            });
        });
    })(jQuery);
    (function ($) {
        $(document).ready(function () {
            $('#fitment-year').select2({
                placeholder: 'Year',
                allowClear: true
            });
        });
    })(jQuery);
    (function ($) {
        $(document).ready(function () {
            $('#vehicle_year_fitment').select2({
                placeholder: 'Select Part Fitment Location',
                allowClear: true,
                closeOnSelect: false
            });
        });
    })(jQuery);
    function formatInput(input) {
        let value = input.value.replace(/\D/g, '');
        value = (value / 100).toFixed(2);
        input.value = value;
    }
    var makesModels = {{ makes_models| safe }};
    $(document).ready(function () {
        $('#vehicle_make').change(function () {
            var selectedMake = $(this).val();
            var models = makesModels[selectedMake];
            $('#vehicle_model').empty();
            $('#vehicle_model').append('<option value="" selected disabled>Select Model</option>');
            $.each(models, function (index, model) {
                $('#vehicle_model').append('<option value="' + model + '">' + model + '</option>');
            });
        });
    });
    var makesModelsFitment = {{ makes_models| safe }};
    $(document).on('change', '.vehicle_make_fitment', function () {
        var selectedMake = $(this).val();
        var models = makesModelsFitment[selectedMake];
        var $vehicleModelFitment = $(this).closest('div').find('.vehicle_model_fitment'); // Use class instead of ID
        $vehicleModelFitment.empty();
        $vehicleModelFitment.append('<option value="" selected disabled>Select Model</option>');
        $.each(models, function (index, model) {
            $vehicleModelFitment.append('<option value="' + model + '">' + model + '</option>');
        });
        $vehicleModelFitment.select2(); // Re-initialize select2 on the new models dropdown
    });
    document.getElementById('add-button').addEventListener('click', function (event) {
        event.preventDefault();
        var selectsContainer = document.getElementById('selects-container');
        var firstDiv = selectsContainer.children[0];

        // Properly destroy Select2 before cloning
        $(firstDiv).find('select').each(function () {
            if ($.fn.select2 && $(this).data('select2')) {
                $(this).select2('destroy');
            }
        });

        // Clone the div
        var newDiv = firstDiv.cloneNode(true);
        newDiv.style.display = 'flex'; // Make sure the cloned div is visible

        // Reset values and reinitialize Select2 on the cloned selects
        // Update names for the newly cloned inputs and selects
        $(newDiv).find('.vehicle_make_fitment, .vehicle_model_fitment').each(function (index, element) {
            var namePrefix = $(element).hasClass('vehicle_make_fitment') ? 'vehicle_make_fitment_' : 'vehicle_model_fitment_';
            var newName = namePrefix + selectsContainer.children.length;
            $(element).attr('name', newName);
            $(element).val(''); // Reset the value
            $(element).select2(); // Reinitialize Select2 on the new element
        });

        // Specifically handle the year select
        $(newDiv).find('.vehicle_year_fitment').each(function (index, element) {
            var newName = 'vehicle_year_fitment_' + selectsContainer.children.length;
            $(element).attr('name', newName);
            $(element).val(null).trigger('change'); // Reset the value
            // Reinitialize Select2 with the closeOnSelect set to false
            $(element).select2({
                // placeholder: 'Select Year(s)',
                allowClear: true,
                closeOnSelect: false // Keep the dropdown open after selection
            });
        });

        // Append the new div to the container
        selectsContainer.appendChild(newDiv);
    });


    $(document).ready(function () {
        $('.vehicle_make_fitment, .vehicle_model_fitment').select2({
            width: '100%' // Adjust this as necessary
        });
    });
    document.addEventListener('click', function (event) {
        // Check if the clicked element is an 'X' button
        if (event.target.matches('.remove-row')) {
            event.preventDefault();
            var row = event.target.closest('.form-row'); // Replace '.form-row' with the actual class or identifier of your row

            // Remove the 'required' attribute from all inputs and selects in this row
            row.querySelectorAll('input, select').forEach(function (input) {
                input.removeAttribute('required');
            });

            // Now remove the row from the DOM
            row.remove();
        }
    });
    // $(document).ready(function() {
    //     // Set the width of the Select2 container when the page loads
    //     $('.select2-selection--multiple').css('max-width', '100%');

    //     // Update the width of the Select2 container when the window is resized
    //     $(window).resize(function() {
    //         $('.select2-selection--multiple').css('max-width', '100%');
    //     });
    // });
    var vehicleFitments = {{ vehicle_fitments| safe }};
    $(document).ready(function () {
        vehicleFitments.forEach(function (fitment, index) {
            var fitmentHtml = generateFitmentEntry(fitment, index);
        });

        // Initialize any plugins (like Select2) here
    });
    function generateFitmentEntry(fitment, index) {
        console.log(fitment.make);
        // event.preventDefault();
        var selectsContainer = document.getElementById('selects-container');
        var firstDiv = selectsContainer.children[0];

        var parser = new DOMParser();
        var doc = parser.parseFromString(firstDiv, "text/html");


        // Properly destroy Select2 before cloning
        $(firstDiv).find('select').each(function () {
            if ($.fn.select2 && $(this).data('select2')) {
                $(this).select2('destroy');
            }
        });

        var newDiv = firstDiv.cloneNode(true);
        newDiv.style.display = 'flex'; // Make sure the cloned div is visible

        $(newDiv).find('.vehicle_make_fitment').each(function (index, element) {
            var namePrefix = $(element).hasClass('vehicle_make_fitment');
            var newName = namePrefix + selectsContainer.children.length;
            $(element).attr('name', newName);
            $(element).val(fitment.make); // Reset the value
            $(element).select2(); // Reinitialize Select2 on the new element
        });
        $(newDiv).find('.vehicle_model_fitment').each(function (index, element) {
            var namePrefix = $(element).hasClass('vehicle_model_fitment_');
            var newName = namePrefix + selectsContainer.children.length;
            $(element).attr('name', newName);
            $(element).val(fitment.model); // Reset the value
            $(element).select2(); // Reinitialize Select2 on the new element
        });

        // Specifically handle the year select
        $(newDiv).find('.vehicle_year_fitment').each(function (index, element) {
            var newName = 'vehicle_year_fitment_' + selectsContainer.children.length;
            $(element).attr('name', newName);
            $(element).val(fitment.year);
            // $(element).val(null).trigger('change'); // Reset the value
            // Reinitialize Select2 with the closeOnSelect set to false
            $(element).select2({
                // placeholder: 'Select Year(s)',
                allowClear: true,
                closeOnSelect: false // Keep the dropdown open after selection
            });
        });
        selectsContainer.appendChild(newDiv);
    }



</script>
<style>
    .form-row {
        margin-bottom: 10px;
    }

    .selection span {
        border-style: none !important;
    }

    .select2 {
        width: 100% !important;
        max-width: 100% !important;
        height: 38px !important;
    }

    .select2-selection__arrow {
        margin-right: 5px !important;
    }

    .select2-selection {
        height: 38px !important;
        border: 1px solid #e3e3e3 !important;
    }

    span.select2-selection.select2-selection--single {
        border: 1px solid #e1e6f0 !important;
        margin-right: 5px !important;
    }

    span.select2-selection.select2-selection--multiple {
        border: 1px solid #e1e6f0 !important;
        max-height: 100px;
        max-width: 28.75vw !important;
        overflow-y: auto;
    }
</style>
{% endblock %}