{% load static %}
<div class="w-layout-grid grid">
    <div class="" style="justify-self: flex-end; padding: 12px;">
        <div style="display: flex; flex-direction: row;">
            <a id="w-node-_4a591f9f-f950-9529-d551-da13bb96044b-a2dac75e" href="#"
                class="button button-outline w-inline-block"
                style="margin-right: 5px; padding: 2px 5px;">
                <img style="height: 20px" src="{% static 'icons/arrow-left.svg' %}" loading="lazy" alt="" class="pagination-arrow">
            </a>
            <div class="pagination-text" style="margin-right: 5px; margin-top: 1px;">1 of 3</div>
            <a id="w-node-_4a591f9f-f950-9529-d551-da13bb96044b-a2dac75e" href="#"
                class="button button-outline w-inline-block"
                style="margin-right: 5px; padding: 2px 5px;">
                <img style="height: 20px" src="{% static 'icons/arrow-right.svg' %}" loading="lazy" alt="" class="pagination-arrow">
            </a>
        </div>
    </div>
</div>