<div>
    {% for part in parts %}
    <div class="part-item" data-part='{
        "description": "{{ part.stock_number }} {{ part.vehicle.year }} {{ part.vehicle.make }} {{ part.vehicle.model }} - {{ part.type }} - {{ part.grade }} - {{ part.interchange }}",
        "price": "{{ part.price }}"
    }'>
        <div>{{ part.stock_number }} {{ part.vehicle.year }} {{ part.vehicle.make }} {{ part.vehicle.model }} - {{ part.type }} - {{ part.grade }} - {{ part.interchange }}</div>
    </div>
    {% endfor %}
</div>
