{% extends "root.html" %}
{% block content %}
{% load static %}
<div class="dashboard-container">
    <div class="w-layout-grid main-grid">
        <div class="w-layout-grid _4-grid">
            <!-- <div class="module">
                <div class="content-chart">
                    <div class="chart-square"><img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d03baf8a2d544bd28f_dollar-sign.svg"
                            loading="lazy" alt="" class="icon">
                        <div class="light-fill"></div>
                    </div>
                    <div class="div-block">
                        <div class="caption">Total Core Value</div>
                        <div class="numbers-wrapper">
                            <h3 class="number">${{ total_max_core_price }}</h3>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="module">
                <div class="content-chart">
                    <div class="chart-square"><img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058831adf921f01483b3167_tag.svg"
                            loading="lazy" width="24" alt="" class="icon">
                        <div class="light-fill bg-primary-green"></div>
                    </div>
                    <div class="div-block">
                        <div class="caption">Part Count</div>
                        <div class="numbers-wrapper">
                            <h3 class="number">{{ total_parts_count }}</h3>
                            <div class="negative-value">-10%</div> -->
                        <!-- </div>
                    </div>
                </div>
            </div> --> 
            <!-- <div id="w-node-_7208daec-035a-49f2-4e9b-4a6236ac5087-a83755f0" class="module">
                <div class="content-chart">
                    <div class="chart-square"><img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883bbba1d7412377fefe7_truck.svg"
                            loading="lazy" width="24" alt="" class="icon">
                        <div class="light-fill bg-primary-orange"></div>
                    </div>
                    <div class="div-block">
                        <div class="caption">Deliveries</div>
                        <div class="numbers-wrapper">
                            <h3 class="number">240</h3>
                            <div class="positive-value">+19%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="module">
                <div class="content-chart">
                    <div class="chart-square"><img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884bd2fa05845ae96285f_users.svg"
                            loading="lazy" width="24" alt="" class="icon">
                        <div class="light-fill bg-primary-yellow"></div>
                    </div>
                    <div class="div-block">
                        <div class="caption">Audience</div>
                        <div class="numbers-wrapper">
                            <h3 class="number">1.5K</h3>
                            <div class="positive-value">+10%</div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div data-duration-in="300" data-duration-out="100" data-current="Parts" data-easing="ease" class="w-tabs">
            <div class="in-page-menu w-tab-menu" role="tablist">
                <a data-w-tab="Parts" class="in-page-menu-link w-inline-block w-tab-link  w--current" tabindex="-1"
                    id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                    aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false">
                    <div>Parts</div>
                </a>
                <!-- <a data-w-tab="Upload Inventory"
                    class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-0"
                    href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0"
                    aria-selected="true">
                    <div>Upload Inventory</div>
                </a> -->
                <!-- <a data-w-tab="Processing" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                    id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                    aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                    <div>Processing</div>
                </a><a data-w-tab="Cancelled" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                    id="w-tabs-0-data-w-tab-3" href="#w-tabs-0-data-w-pane-3" role="tab"
                    aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false">
                    <div>Cancelled</div>
                </a> -->
            </div>
            <div class="tabs-content w-tab-content">
                <div data-w-tab="Upload Inventory" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-0">
                    {% include "upload-inventory.html" %}
                </div>
                <div data-w-tab="Parts" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-1">
                    <div class="w-layout-grid main-grid">
                        {% include "filter-bar.html" %}
                        {% include 'filtered-table.html' %}
                    </div>
                </div>
                <div data-w-tab="Processing" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-2">
                    <div class="table-module">
                        <div class="table-header">
                            <h4 class="no-space-bottom">Orders (Processing)</h4>
                        </div>
                        <div class="table-content">
                            <div class="table-list">
                                <div class="w-layout-grid table-headers _5-columns">
                                    <div class="caption-large">Order</div>
                                    <div class="caption-large">Status</div>
                                    <div class="caption-large">customer</div>
                                    <div class="caption-large">Total</div>
                                    <div class="caption-large">Date</div>
                                </div><a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row _5-columns">
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e41023e-a83755f0"
                                            class="table-title">#10419</div>
                                        <div class="status">
                                            <div class="indication-color bg-primary-blue"></div>
                                            <div>Processing</div>
                                        </div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410244-a83755f0">Shane M.</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410246-a83755f0">$29.00</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410248-a83755f0">05/05/21</div>
                                    </div>
                                </a><a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row _5-columns">
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e41024c-a83755f0"
                                            class="table-title">#10418</div>
                                        <div class="status">
                                            <div class="indication-color bg-primary-blue"></div>
                                            <div>Processing</div>
                                        </div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410252-a83755f0">Gerald S.</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410254-a83755f0">$210.00</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410256-a83755f0">05/05/21</div>
                                    </div>
                                </a><a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row _5-columns">
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e41025a-a83755f0"
                                            class="table-title">#10417</div>
                                        <div class="status">
                                            <div class="indication-color bg-primary-blue"></div>
                                            <div>Processing</div>
                                        </div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410260-a83755f0">Edward B.</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410262-a83755f0">$325.00</div>
                                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410264-a83755f0">05/05/21</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="table-bottom-caption">
                            <div>All orders are updated every 30 seconds</div>
                        </div>
                    </div>
                </div>
                <div data-w-tab="Cancelled" class="w-tab-pane" id="w-tabs-0-data-w-pane-3" role="tabpanel"
                    aria-labelledby="w-tabs-0-data-w-tab-3">
                    <div class="table-module overflow-auto">
                        <div class="table-header">
                            <h4 class="no-space-bottom">Orders (Cancelled)</h4>
                        </div>
                        <div class="table-content">
                            <div class="table-list">
                                <div class="w-layout-grid table-headers _5-columns">
                                    <div class="caption-large">Order</div>
                                    <div class="caption-large">Status</div>
                                    <div class="caption-large">customer</div>
                                    <div class="caption-large">Total</div>
                                    <div class="caption-large">Date</div>
                                </div><a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row _5-columns">
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cc92-a83755f0"
                                            class="table-title">#10416</div>
                                        <div class="status">
                                            <div class="indication-color bg-primary-rose"></div>
                                            <div>Cancelled</div>
                                        </div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cc98-a83755f0">Samuel A.</div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cc9a-a83755f0">$210.00</div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cc9c-a83755f0">05/05/21</div>
                                    </div>
                                </a><a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row _5-columns">
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cca0-a83755f0"
                                            class="table-title">#10415</div>
                                        <div class="status">
                                            <div class="indication-color bg-primary-rose"></div>
                                            <div>Cancelled</div>
                                        </div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cca6-a83755f0">Daniel V.</div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7cca8-a83755f0">$299.99</div>
                                        <div id="w-node-_12dd449b-29cc-7cb7-d059-aad766d7ccaa-a83755f0">05/05/21</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="table-bottom-caption">
                            <div>All orders are updated every 30 seconds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}