<!DOCTYPE html>
<html>

<head>
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:3880638,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <title>Pikt Dashboard</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css" />
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    
</head>

<body>
    <div class="dashboard">
        <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
            role="banner" class="dashboard-sidebar w-nav">
            <div class="sidebar-content" style="display: flex; justify-content: space-between;">
                <div>
                    <div class="sidebar-logo-wrapper"><a href="/dashboards/vehicles/" class="w-nav-brand" aria-label="home"><img
                                src="{% static 'images/logo_transparent_large_black.png' %}"
                                loading="lazy" alt="" class="sidebar-logo"></a></div>
                    <!-- <a href="/dashboards/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058703e748ec21a46ed3b4e_Account.svg"
                        loading="lazy" alt="" class="nav-icon">
                    <div>Dashboard</div>
                    </a> -->
                    <a href="/dashboards/vehicles/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="{% static 'icons/car.svg' %}"
                        loading="lazy" alt="" class="nav-icon">
                        <div>Vehicles</div>
                    </a>
                    <a href="/dashboards/parts/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="{% static 'icons/engine.svg' %}"
                        loading="lazy" alt="" class="nav-icon">
                        <div>Parts</div>
                    </a>
                    {% if user.role == "Admin" %}
                        <a href="/dashboards/yard/" class="nav-link w-inline-block"><img
                            style="height: 25px;"
                            src="{% static 'icons/field.png' %}"
                            loading="lazy" alt="" class="nav-icon">
                            <div>Yard Layout</div>
                        </a>
                    {% endif %}
                    <a href="/dashboards/add-vehicle/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="{% static 'icons/add-car.png' %}"
                        loading="lazy" alt="" class="nav-icon">
                        <div>Add Vehicle</div>
                    </a>
                    <a href="/dashboards/sales/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="{% static 'icons/dollar-sign.svg' %}"
                        loading="lazy" alt="" class="nav-icon">
                        <div>Sales</div>
                    </a>
                    
                    <!-- <a href="/dashboards/parts/" class="nav-link w-inline-block"><img
                            style="height: 25px;"
                            src="{% static 'icons/engine.svg' %}"
                            loading="lazy" alt="" class="nav-icon">
                        <div>Parts</div>
                    </a>
                
                    <a href="/dashboards/orders/" class="nav-link w-inline-block"><img
                        style="height: 25px;"
                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc6380b2ff7a6e9171_shopping-cart.svg"
                        loading="lazy" alt="" class="nav-icon">
                    <div>Orders</div>
                    </a> -->
                    {% if user.role == "Admin" %}
                        <a href="/company/" class="nav-link w-inline-block"><img
                            style="height: 25px;"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058703e101182eaf273ae92_Team.svg"
                            loading="lazy" alt="" class="nav-icon">
                            <div>Company</div>
                        </a>
                    {% endif %}
                    <a href="/account/" class="nav-link w-inline-block"><img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882df8063b970ea883ad9_toggle-left.svg"
                            loading="lazy" alt="" class="nav-icon">
                        <div>Account</div>
                    </a>
                    <div class="nav-divider"></div>
                </div>
                <div class="tablet">
                    <div class="header-content" style="margin: 20px">
                        <a href="/account" class="banner-avatar-wrapper w-inline-block">
                            <img
                                    src="{{ user.icon.url }}"
                                    loading="lazy" alt="" class="banner-avatar-image">
                                <div>
                                    <h5 class="banner-avatar-name">{{ user.first_name }} {{ user.last_name }}</h5>
                                    <div class="banner-avatar-caption">Account settings</div>
                                </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mobile-bar">
                <div class="mobile-bar-menu" style="justify-content: center;">
                    <a data-w-id="da3d71f2-0efd-7bc8-77ff-08fc09cd7904" href="#"
                        class="mobile-menu-button w-inline-block">
                        <div data-is-ix2-target="1" class="lottie-menu-icon"
                            data-w-id="da3d71f2-0efd-7bc8-77ff-08fc09cd7905" data-animation-type="lottie"
                            data-src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/60587725e051a2be05473dcc_Lottie%20Menu%20Animation.json"
                            data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg"
                            data-default-duration="2" data-duration="0" data-ix2-initial-state="0">
                            <!-- <svg
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32"
                                preserveAspectRatio="xMidYMid meet"
                                style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"> -->
                                <defs>
                                    <clipPath id="__lottie_element_2">
                                        <rect width="32" height="32" x="0" y="0"></rect>
                                    </clipPath>
                                </defs>
                                <g clip-path="url(#__lottie_element_2)">
                                    <g transform="matrix(1,0,0,1,4,4)" opacity="1" style="display: block;">
                                        <g opacity="1"
                                            transform="matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,12,18)">
                                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                stroke="rgb(0,22,47)" stroke-opacity="1" stroke-width="2"
                                                d=" M6,-6 C6,-6 -6,6 -6,6"></path>
                                        </g>
                                        <g opacity="1"
                                            transform="matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,12,12)">
                                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                stroke="rgb(0,22,47)" stroke-opacity="1" stroke-width="2"
                                                d=" M6,-6 C6,-6 -6,6 -6,6"></path>
                                        </g>
                                        <g opacity="1"
                                            transform="matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,12,6)">
                                            <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                                stroke="rgb(0,22,47)" stroke-opacity="1" stroke-width="2"
                                                d=" M6,-6 C6,-6 -6,6 -6,6"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                    </a>
                    <!-- <a href="#" class="mobile-bar-link w-inline-block">
                        <img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058703e3a273545cf97d31b_Profile.svg"
                            loading="lazy" alt=""></a><a href="#" class="mobile-bar-link w-inline-block">
                        <img
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058703ecc16b10bf2981896_Settings.svg"
                            loading="lazy" alt="">
                    </a> -->
                    </div>
            </div>
            <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
        </div>
        <!-- <div class="dashboard-banner">
            <div class="dashboard-banner-header">
                <div style="flex: 1;">
                    <a href="/dashboards/" class="w-nav-brand" aria-label="home">
                        <img
                            src="{% static 'images/logo_transparent_large_black.png' %}"
                            loading="lazy" alt="" class="banner-logo">
                    </a>
                </div>
                <div class="header-content">
                    <a href="/account" class="banner-avatar-wrapper w-inline-block">
                        <img
                                src="{{ user.icon.url }}"
                                loading="lazy" alt="" class="banner-avatar-image">
                            <div>
                                <h5 class="banner-avatar-name">{{ user.first_name }} {{ user.last_name }}</h5>
                                <div class="banner-avatar-caption">Account settings</div>
                            </div>
                    </a>
                </div>
            </div>
        </div> -->
        <div class="dashboard-content">
            {% if messages %}
                {% for message in messages %}
                    <form id="message-{{ forloop.counter }}" action="{% url 'delete_message' %}" method="post" class="alert-module" style="position: fixed; width: -webkit-fill-available; z-index: 10000; opacity: 1; display: flex; margin-bottom: 10px; margin-left: 10%; margin-right: 10%; transition: opacity 1s;">
                        {% csrf_token %}
                        <input type="hidden" name="message" value="{{ message }}">
                        <div>{{ message }}</div>
                        <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; outline: none; color: #000; font-size: 20px; margin-left: 10px; margin-top: -5px;"
                            class="alert-module-link w-inline-block"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/6058bf1274d92808ed9a6a84_x.svg"
                                alt=""></button>
                    </form>
                    <script>
                        setTimeout(function() {
                            var messageElement = document.getElementById('message-{{ forloop.counter }}');
                            messageElement.style.opacity = '0';
                            setTimeout(function() {
                                messageElement.style.display = 'none';
                            }, 1000);
                        }, 3000);
                    </script>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock %}
            <div class="footer">PIKT<a href="/dashboards/vehicles/" target="_blank"></a></div>
        </div>
        <div class="mobile-bottom-spacing"></div>
    </div>

    <!-- Load Select2 CSS and JS after jQuery -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!-- Your other scripts can follow here -->
    <script src="{% static 'js/index.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/charts.js' %}" type="text/javascript"></script>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
<script>
    $(document).ready(function() {
        // Initialize select2
        $('.w-select').select2();
    
        // Your other jQuery code...
    });
</script>
<style>
    @media screen and (max-width:991px) {
        .tablet {
            display: none;
        }
    }
</style>

</html>