{% extends "root.html" %}
{% block content %}
<div class="dashboard-container">
    <div data-duration-in="300" data-duration-out="100" data-current="Profile" data-easing="ease"
        class="tabs-content w-tabs">
        <div class="in-page-menu w-tab-menu" role="tablist">
            <a data-w-tab="Sales" class="in-page-menu-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="true">
                <div>Sales</div>
            </a>
            <a data-w-tab="Customers" class="in-page-menu-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="true">
                <div>Customers</div>
            </a>
        </div>
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Sales" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-1" style="">
                <div class="table-module">
                    <div class="row">
                        {% include 'chart.html' %}
                    </div>
                </div>
            </div>
            <div data-w-tab="Terminal" class="w-tab-pane" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0" style="">
                <form id="wf-form-Form" onsubmit="removeDollarSign()" name="wf-form-Form" data-name="Form" method="post" enctype="multipart/form-data" aria-label="Form" style="margin-top: 16px">
                    <input type="hidden" name="csrfmiddlewaretoken" value="LVr5wLgVSRmqVLBwmFcfvSNDdPwVJbf8dNSEOPjHRdIAkSpaaWDHIFaBhi373s0g">
                    <h4>Single Vehicle Upload</h4>
                    <div class="w-layout-grid form-grid space-bottom-small" style="grid-template-columns: minmax(40%, 50%) minmax(40%, 50%);">
                        <div style="display: flex; align-items: end;">
                            <input type="text" class="text-field w-input" maxlength="256" name="vin" id="vin-input" placeholder="VIN" style="margin-right: 10px; margin-bottom: 10px" required=""> 
                            <button onclick="decodeVin()" class="button button-small w-button remove-row" style="height: 38px; margin-right: 5px; margin-bottom: 10px;">Go</button>
                        </div>
                        <div>
                            <h6>Year</h6>
                        </div>
                        <div>
                            <h6>Make</h6>
                            
                        
                        </div>
                        <div>
                            <h6>Model</h6>
                            
                        </div>
                        
                        <div style="grid-column: span 2;">
                            <h6>Description</h6>
                            <textarea class="text-field w-input" maxlength="256" name="description" id="description" rows="4" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Add Vehicle" data-wait="Please wait..." class="button button-small w-button">
                </form>
            </div>
            <div data-w-tab="Customers" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2" style="opacity: 1; transition: opacity 300ms ease 0s;">
                <div class="utility-container">
                    {% include "customer-search.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
