{% extends "root.html" %}
{% block content %}
<div class="dashboard-container">
    <div data-duration-in="300" data-duration-out="100" data-current="Profile" data-easing="ease"
        class="tabs-content w-tabs">
        <div class="in-page-menu w-tab-menu" role="tablist">
            <a data-w-tab="Sales" class="in-page-menu-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="true">
                <div>Sales</div>
            </a>
            <a data-w-tab="Customers" class="in-page-menu-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="true">
                <div>Customers</div>
            </a>
            <!-- <a data-w-tab="Terminal" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-0"
                href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="false"
                tabindex="-1">
                <div>Terminal</div>
            </a> -->
            <!-- <a data-w-tab="Projects" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-1"
                href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false"
                tabindex="-1">
                <div>Projects</div>
            </a> -->
        </div>
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Sales" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-1" style="">
                <div class="table-module">
                    <div class="row">
                        {% include 'chart.html' %}
                    </div>
                </div>
            </div>
            <div data-w-tab="Terminal" class="w-tab-pane" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0" style="">
                <form id="wf-form-Form" onsubmit="removeDollarSign()" name="wf-form-Form" data-name="Form" method="post" enctype="multipart/form-data" aria-label="Form" style="margin-top: 16px">
                    <input type="hidden" name="csrfmiddlewaretoken" value="LVr5wLgVSRmqVLBwmFcfvSNDdPwVJbf8dNSEOPjHRdIAkSpaaWDHIFaBhi373s0g">
                    <h4>Single Vehicle Upload</h4>
                    <div class="w-layout-grid form-grid space-bottom-small" style="grid-template-columns: minmax(40%, 50%) minmax(40%, 50%);">
                        <div style="display: flex; align-items: end;">
                            <input type="text" class="text-field w-input" maxlength="256" name="vin" id="vin-input" placeholder="VIN" style="margin-right: 10px; margin-bottom: 10px" required=""> 
                            <button onclick="decodeVin()" class="button button-small w-button remove-row" style="height: 38px; margin-right: 5px; margin-bottom: 10px;">Go</button>
                        </div>
                        <div>
                            <h6>Year</h6>
                        </div>
                        <div>
                            <h6>Make</h6>
                            
                        
                        </div>
                        <div>
                            <h6>Model</h6>
                            
                        </div>
                        
                        <div style="grid-column: span 2;">
                            <h6>Description</h6>
                            <textarea class="text-field w-input" maxlength="256" name="description" id="description" rows="4" style="resize: none;"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Add Vehicle" data-wait="Please wait..." class="button button-small w-button">
                </form>
            </div>
            <!-- <div data-w-tab="Projects" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-1" style="">
                <div class="w-layout-grid _3-grid">
                    <div class="project-module">
                        <div class="project-module-top"><img
                                sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                                srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%20Visual%2002-min.jpg 4500w"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%20Visual%2002-min.jpg"
                                loading="lazy" alt="" class="project-thumbnail"></div>
                        <div class="project-module-content">
                            <h3 class="space-title-small">Dashboard UI&nbsp;Kit</h3>
                            <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing
                                elit dolor.</div>
                            <div class="divider"></div>
                            <div class="project-details">
                                <div class="avatar-row"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                        alt="" class="in-row-avatar first"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4c9ca97e6dee1e3_Dash%20-%20Avatar%2006-min.jpg"
                                        alt="" class="project-avatar"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                        alt="" class="project-avatar"></div><a href="#"
                                    class="button button-outline button-small w-button">View Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-module">
                        <div class="project-module-top"><img
                                sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                                srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg 4501w"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg"
                                loading="lazy" alt="" class="project-thumbnail"></div>
                        <div class="project-module-content">
                            <h3 class="space-title-small">Booking System</h3>
                            <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing
                                elit dolor.</div>
                            <div class="divider"></div>
                            <div class="project-details">
                                <div class="project-avatars"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                        alt="" class="project-avatar first"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                        alt="" class="project-avatar"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da5bf3949e3151291c5_Dash%20-%20Avatar%2008-min.jpg"
                                        alt="" class="project-avatar"></div><a href="#"
                                    class="button button-outline button-small w-button">View Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-module">
                        <div class="project-module-top"><img
                                sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                                srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg 4501w"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg"
                                loading="lazy" alt="" class="project-thumbnail"></div>
                        <div class="project-module-content">
                            <h3 class="space-title-small">Unisport Pro</h3>
                            <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing
                                elit dolor.</div>
                            <div class="divider"></div>
                            <div class="project-details">
                                <div class="project-avatars"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa1a46298c089755f6_Dash%20-%20Avatar%2005-min.jpg"
                                        alt="" class="project-avatar first"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa34d150a5be8775bf_Dash%20-%20Avatar%2001-min.jpg"
                                        alt="" class="project-avatar"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                        alt="" class="project-avatar"></div><a href="#"
                                    class="button button-outline button-small w-button">View Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-module">
                        <div class="project-module-top"><img
                                sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                                srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg 4500w"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg"
                                loading="lazy" alt="" class="project-thumbnail"></div>
                        <div class="project-module-content">
                            <h3 class="space-title-small">Virtual Reality App</h3>
                            <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing
                                elit dolor.</div>
                            <div class="divider"></div>
                            <div class="project-details">
                                <div class="avatar-row"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                        alt="" class="in-row-avatar first"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4c9ca97e6dee1e3_Dash%20-%20Avatar%2006-min.jpg"
                                        alt="" class="project-avatar"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                        alt="" class="project-avatar"></div><a href="#"
                                    class="button button-outline button-small w-button">View Project</a>
                            </div>
                        </div>
                    </div>
                    <div class="project-module">
                        <div class="project-module-top"><img
                                sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                                srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg 4500w"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg"
                                loading="lazy" alt="" class="project-thumbnail"></div>
                        <div class="project-module-content">
                            <h3 class="space-title-small">Restaurant Landing</h3>
                            <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing
                                elit dolor.</div>
                            <div class="divider"></div>
                            <div class="project-details">
                                <div class="project-avatars"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                        alt="" class="project-avatar first"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                        alt="" class="project-avatar"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da5bf3949e3151291c5_Dash%20-%20Avatar%2008-min.jpg"
                                        alt="" class="project-avatar"></div><a href="#"
                                    class="button button-outline button-small w-button">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div data-w-tab="Customers" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2" style="opacity: 1; transition: opacity 300ms ease 0s;">
                <div class="utility-container">
                    {% include "customer-search.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
