{% extends "root.html" %}
{% load tags %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<div class="dashboard-container">
    <div style="margin: 16px 0px 0px 16px;">
        <h1 class="mobile-header">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h1>
        <div style="display: flex; justify-content: end; margin-bottom: 12px;">
            <div id="print-button">
                <a title="Print Barcode" onclick="printBarcode('{{ vehicle.stock_number }}');" id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#"  class="button bg-primary-blue w-inline-block" style="width: auto; display: flex; align-items: center; height: 37px; padding: 12px 12px; margin-right: 10px">
                    <img style="height: 25px; margin-right: 0px" src="/static/icons/print.svg" loading="lazy" alt="" class="nav-icon print-icon"> Print Barcode
                </a>
            </div>
            <div>
                <form action="{% url 'edit_vehicle' vehicle.id %}" method="get" >
                    {% csrf_token %}
                    <button type="submit" style="display: flex; padding: 12px; height: 37px" class="button bg-primary-green w-button">
                        <img style="height: 25px; margin-right: 2px" src="/static/icons/edit.svg" loading="lazy" alt="" class="nav-icon edit-icon"> Edit Vehicle
                    </button>
                </form>
            </div>
        </div> 
        
        
    </div>
    
    <div data-duration-in="300" data-duration-out="100" data-current="Overview" data-easing="ease" class="w-tabs">
        <!-- <div class="in-page-menu w-tab-menu" role="tablist"><a data-w-tab="Overview"
                class="in-page-menu-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
                href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                <div>Overview</div>
            </a><a data-w-tab="Tasks" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-1"
                href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false"
                tabindex="-1">
                <div>Tasks</div>
            </a><a data-w-tab="Files" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-2"
                href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false"
                tabindex="-1">
                <div>Files</div>
            </a>
        </div> -->
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Overview" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
                {% if vehicle.image_1 and vehicle.image_2 %}
                <div class="w-layout-grid main-grid">
                    <div class="w-layout-grid _4-grid">
                        {% if vehicle.image_1 %}
                        <img src="{{ vehicle.image_1.url }}"
                            style="width: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% else %}
                        <img src="{% static 'images/landing_page_hero_image.jpg' %}"
                            style="width: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% endif %}

                        {% if vehicle.image_2 %}
                        <img src="{{ vehicle.image_2 }}"
                            style="width: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% else %}
                        <img src="{% static 'images/landing_page_hero_image.jpg' %}"
                            style="width: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% endif %}
                        <div id="w-node-e9e0a3b4-7fb6-5b87-776a-feb40fa71312-ef2958bf" class="w-layout-grid _2-grid">
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d03baf8a2d544bd28f_dollar-sign.svg"
                                            alt="" class="icon">
                                        <div class="light-fill"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Price</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ part.price }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883083baf8ae9a34bd3e6_clock.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-green"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Time on Market</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ vehicle.created_at|days_since }} days</h3>
                                            <!-- <div class="negative-value">-10%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883bbba1d7412377fefe7_truck.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-orange"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">ROI</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ roi }}%</h3>
                                            <!-- <div class="positive-value">+19%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884b47ee33f1eb5676cce_target.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-yellow"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Potential Profit</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">${{ potential_profit }}</h3>
                                            <!-- <div class="positive-value">+10%</div> -->
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 30px;" class="w-layout-grid _2-grid">
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b37c-db888956" class="module">
                        <div class="profile-details">
                            <div class="weight-500">Interchange</div>
                            <div class="text-grey-3">{{ part.hollander_interchange }}</div>
                        </div>
                        <div class="profile-details">
                            <div class="weight-500">Location</div>
                            <div class="text-grey-3">Part Location</div>
                        </div>
                        <div class="profile-details bottom">
                            <div class="weight-500">Grade</div>
                            <div class="text-grey-3">{{ part.grade}}</div>
                        </div>
                    </div>
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b37c-db888956" class="module">
                        <div class="profile-details">
                            <div class="weight-500">Retail</div>
                            <div class="text-grey-3">{{ part.price }}</div>
                        </div>
                        <div class="profile-details">
                            <div class="weight-500">Location</div>
                            <div class="text-grey-3">Part Location</div>
                        </div>
                        <div class="profile-details bottom">
                            <div class="weight-500">Grade</div>
                            <div class="text-grey-3">{{ part.grade}}</div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="w-layout-grid main-grid">
                    <div class="w-layout-grid _4-grid">
                        <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b37c-db888956" class="module">
                            <div class="profile-details">
                                <div class="weight-500">Stock Number</div>
                                <div class="text-grey-3">{{ vehicle.stock_number }}</div>
                            </div>
                            <div class="profile-details">
                                <div class="weight-500">Yard</div>
                                <div class="text-grey-3">{{ vehicle.yard }}</div>
                            </div>
                            <div class="profile-details bottom">
                                <div class="weight-500">Location</div>
                                <div class="text-grey-3">{{ vehicle.location }}</div>
                            </div>
                        </div>
                        <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b37c-db888956" class="module">
                            {% if user.u_pull_it_account %}
                                <div class="profile-details">
                                    <div class="weight-500">Row</div>
                                    <div class="text-grey-3">{{ vehicle.row }}</div>
                                </div>
                                <div class="profile-details">
                                    <div class="weight-500">Seller Type</div>
                                    <div class="text-grey-3">{{ vehicle.seller_type }}</div>
                                </div>
                                <div class="profile-details bottom">
                                    <div class="weight-500">Category</div>
                                    <div class="text-grey-3">{{ vehicle.category }}</div>
                                </div>
                            {% else %}
                                <div class="profile-details">
                                    <div class="weight-500">Primary Damage</div>
                                    <div class="text-grey-3">{{ vehicle.primary_damage }}</div>
                                </div>
                                <div class="profile-details">
                                    <div class="weight-500">Secondary Damage</div>
                                    <div class="text-grey-3">{{ vehicle.secondary_damage }}</div>
                                </div>
                                <div class="profile-details bottom">
                                    <div class="weight-500">Category</div>
                                    <div class="text-grey-3">{{ vehicle.category }}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div id="w-node-e9e0a3b4-7fb6-5b87-776a-feb40fa71312-ef2958bf" class="w-layout-grid _2-grid">
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d03baf8a2d544bd28f_dollar-sign.svg"
                                            alt="" class="icon">
                                        <div class="light-fill"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Total Cost</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ vehicle.total_cost }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883083baf8ae9a34bd3e6_clock.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-green"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Time Owned</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ vehicle.created_at|days_since }} days</h3>
                                            <!-- <div class="negative-value">-10%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883bbba1d7412377fefe7_truck.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-orange"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Purchase Date</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ vehicle.purchase_date }}</h3>
                                            <!-- <div class="positive-value">+19%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884b47ee33f1eb5676cce_target.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-yellow"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Sold Date</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ vehicle.sold_date }}</h3>
                                            <!-- <div class="positive-value">+10%</div> -->
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if not user.u_pull_it_account %}
                    <div class="account-delete">
                        <form action="{% url 'delete_vehicle' vehicle.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete Vehicle" style="margin-top: 5px;"
                                class="button button-small bg-primary-rose w-button">
                        </form>

                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <svg id="barcode-container" style="display:none;"></svg>

</div>
<style>
    @media screen and (max-width: 479px) {
        h1.mobile-header {
            font-size: 25px !important;
            /* Could be more or less, depending on screen size */
        }
    }
</style>
<script>
    function printBarcode(stockNumber) {
        // Generate the barcode
        JsBarcode("#barcode-container", stockNumber, {
            format: "CODE128",
            displayValue: true,
            fontSize: 18
        });

        // Convert the barcode SVG or Canvas to a data URL
        var barcodeData;
        var barcodeElement = document.getElementById('barcode-container');
        if (barcodeElement.tagName.toLowerCase() === 'svg') {
            // If the barcode is an SVG, serialize it and encode as a data URL
            var serializer = new XMLSerializer();
            var svgBlob = new Blob([serializer.serializeToString(barcodeElement)], {type: 'image/svg+xml'});
            barcodeData = URL.createObjectURL(svgBlob);
        } else if (barcodeElement.tagName.toLowerCase() === 'canvas') {
            // If the barcode is in a canvas, get its data URL directly
            barcodeData = barcodeElement.toDataURL("image/png");
        } else {
            console.error('Barcode element is not SVG or Canvas.');
            return;
        }

        // Open a new window for the barcode image
        var printWindow = window.open('', '_blank');
        printWindow.document.open();
        printWindow.document.write('<html><head><title>Print Barcode</title></head><body style="text-align: center;">');
        printWindow.document.write('<img src="' + barcodeData + '" onload="window.print();window.close()">'); // Print the image and close the window after printing
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        document.getElementById('barcode-container').style.display = 'none';
    }
    

</script>

{% endblock %}