{% extends "root.html" %}
{% load tags %}
{% load static %}
{% block content %}
<div class="dashboard-container">
    <h1>{{ part.vehicle_year }} {{ part.vehicle_make }} {{ part.vehicle_model }} {{ part.type }}</h1>
    <div data-duration-in="300" data-duration-out="100" data-current="Overview" data-easing="ease" class="w-tabs">
        <!-- <div class="in-page-menu w-tab-menu" role="tablist"><a data-w-tab="Overview"
                class="in-page-menu-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
                href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                <div>Overview</div>
            </a><a data-w-tab="Tasks" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-1"
                href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false"
                tabindex="-1">
                <div>Tasks</div>
            </a><a data-w-tab="Files" class="in-page-menu-link w-inline-block w-tab-link" id="w-tabs-0-data-w-tab-2"
                href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false"
                tabindex="-1">
                <div>Files</div>
            </a>
        </div> -->
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Overview" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0" style="opacity: 1; transition: opacity 300ms ease 0s;">
                <div class="w-layout-grid main-grid">
                    <div class="w-layout-grid _4-grid">
                        {% if part.part_image_1 %}
                        <img src="{{ part.part_image_1.url }}"
                            style="width: 100%; height: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% else %}
                        <img src="{% static 'images/landing_page_hero_image.jpg' %}"
                            style="width: 100%; height: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% endif %}

                        {% if part.part_image_1 %}
                        <img src="{{ part.part_image_1.url }}"
                            style="width: 100%; height: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% else %}
                        <img src="{% static 'images/landing_page_hero_image.jpg' %}"
                            style="width: 100%; height: 100%; object-fit: cover; padding: 0px" alt=""
                            class="module-link w-inline-block">
                        {% endif %}
                        <div id="w-node-e9e0a3b4-7fb6-5b87-776a-feb40fa71312-ef2958bf" class="w-layout-grid _2-grid">
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d03baf8a2d544bd28f_dollar-sign.svg"
                                            alt="" class="icon">
                                        <div class="light-fill"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Price</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ part.price }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883083baf8ae9a34bd3e6_clock.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-green"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Time on Market</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ part.created_at|days_since }} days</h3>
                                            <!-- <div class="negative-value">-10%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883bbba1d7412377fefe7_truck.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-orange"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">ROI</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">{{ roi }}%</h3>
                                            <!-- <div class="positive-value">+19%</div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="module-link">
                                <div class="content-chart">
                                    <div class="chart-square"><img width="24" loading="lazy"
                                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884b47ee33f1eb5676cce_target.svg"
                                            alt="" class="icon">
                                        <div class="light-fill bg-primary-yellow"></div>
                                    </div>
                                    <div class="div-block">
                                        <div class="caption">Potential Profit</div>
                                        <div class="numbers-wrapper">
                                            <h3 class="number">${{ potential_profit }}</h3>
                                            <!-- <div class="positive-value">+10%</div> -->
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="account-delete">
                    <form action="{% url 'edit_part' part.id %}" method="get">
                        {% csrf_token %}
                        <input type="submit" value="Edit Part" style="margin-top: 5px;"
                            class="button button-small bg-primary-green w-button">
                    </form>
                    <form action="{% url 'delete_part' part.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Delete Part" style="margin-top: 5px;"
                            class="button button-small bg-primary-rose w-button">
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}