{% extends "root.html" %}
{% block content %}
{% load static %}
<div class="utility-container">
    <div class="w-layout-grid main-grid" style="grid-row-gap: 5px;">
        <div class="w-layout-grid grid" style="margin-bottom: 5px;">
            <div style="display: flex; justify-content: flex-end;">
                <div style="display: flex; align-self: inherit">
                    <a id="print-invoice" class="button button-small button-outline w-button" style="padding: 8px 8px; margin-left: 5px;">
                        <img style="height: 25px; max-width: none;" src="/static/icons/trash-black.svg" loading="lazy" alt="">
                    </a>
                    <a id="print-invoice" class="button button-small button-outline w-button" style="padding: 8px 8px; margin-left: 5px;">
                        <img style="height: 25px; max-width: none;" src="/static/icons/edit-black.svg" loading="lazy" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div id="w-node-_16eaae77-e4e7-5162-b306-e6410af62ec5-b47b752d" class="module">
            <div class="profile-details">
                <div class="weight-500">Stock Number</div>
                <div class="text-grey-3">STK23937402</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">Year</div>
                <div class="text-grey-3">2018</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">Make</div>
                <div class="text-grey-3">Honda</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">Model</div>
                <div class="text-grey-3">Civic</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">Trim</div>
                <div class="text-grey-3">EX</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">VIN</div>
                <div class="text-grey-3">2HGFC2E88LH519603</div>
            </div>
            <div class="profile-details">
                <div class="weight-500">Status</div>
                <div class="text-grey-3">Inventory</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}