<form id="upload-form" method="post" action="">
    {% csrf_token %}
    <div class="table-module">
        <div class="table-header">
            <div>
                <h4 class="no-space-bottom">Unlisted Parts on Ebay</h4>
                <div class="small-text text-grey-3">Parts must have at least 1 image as well as the item dimensions and weight.</div>
            </div>
            <div>
                <button type="button" class="button button-small w-button" id="upload-inventory-button">
                    <div>Upload</div>
                </button>
                <!-- <button type="button" class="button button-small w-button" id="mark-ebay-listed-button">
                    <div>Mark as eBay Listed</div>
                </button> -->
            </div>
        </div>
        <div class="table-content">
            <div class="table-list">
                <div class="w-layout-grid table-headers _6-columns">
                    <div class="caption-large">Upload</div>
                    <div class="caption-large">Stock Number</div>
                    <div class="caption-large">Part Type</div>
                    <div class="caption-large">Grade</div>
                    <div class="caption-large">Price</div>
                    <div class="caption-large">Direction</div>
                </div>
                {% for part in unlisted_parts %}
                    <div class="w-layout-grid table-row _6-columns part-row">
                        <input id="{{ part.id }}" type="checkbox" name="part_ids" value="{{ part.id }}" class="part-checkbox">
                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e41023e-a83755f0">{{ part.stock_number }}</div>
                        <div>{{ part.type }}</div>
                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410244-a83755f0">{{ part.grade }}</div>
                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410246-a83755f0">${{ part.price }}</div>
                        <div id="w-node-bc317098-9fe4-14f7-1fe4-46924e410248-a83755f0">{{ part.direction }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>

<script>
    document.getElementById('upload-inventory-button').addEventListener('click', function() {
        if (document.querySelectorAll('.part-checkbox:checked').length > 0) {
            const form = document.getElementById('upload-form');
            form.action = '{% url "bulk_create_or_replace_inventory_item" %}';
            form.submit();
        } else {
            alert('Please select at least one part to upload.');
        }
    });

    document.getElementById('mark-ebay-listed-button').addEventListener('click', function() {
        const form = document.getElementById('upload-form');
        form.action = '{% url "mark_as_ebay_listed" %}';
        form.submit();
    });
</script>

<iframe name="hidden_iframe" style="display:none;"></iframe>
