<div class="table-module" id="vehicle-list">
    <div class="table-content" style="margin-top: 10px;">
        <div class="table-list">
            <div class="w-layout-grid table-headers">
                <div class="caption-large">VIN</div>
                <div class="caption-large">Make</div>
                <div class="caption-large">Model</div>
                <div class="caption-large">Year</div>
                <div class="caption-large">Mileage</div>
            </div>
            {% if vehicles %}
            {% for vehicle in vehicles %}
            <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                <div class="w-layout-grid table-row">
                    <div class="table-title">{{vehicle.vin}}</div>
                    <div>{{vehicle.make}}</div>
                    <div>{{vehicle.model}}</div>
                    <div>{{vehicle.year}}</div>
                    <div>{{vehicle.mileage}}</div>
                </div>
            </a>
            {% endfor %}
            {% else %}
            <div class="w-layout-grid table-row">
                <div class="table-title">No vehicles found</div>
            </div>
            {% endif %}
        </div>
        <!-- include 'pagination.html' -->
    </div>
</div>
