{% extends "root.html" %}
{% block content %}
{% load static %}
<div class="dashboard-container">
    <div data-duration-in="300" data-duration-out="100" data-current="Overview" data-easing="ease" class="w-tabs">
        <div class="in-page-menu w-tab-menu" role="tablist">
            <a data-w-tab="Overview" class="in-page-menu-link w-inline-block w-tab-link w--current"
                id="w-tabs-0-data-w-tab-0" href="#w-tabs-0-data-w-pane-0" role="tab"
                aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                <div>All Vehicles</div>
            </a>
            <a data-w-tab="Files" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                <div>Inventory Vehicle</div>
            </a>
            <a data-w-tab="Part Types" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                id="w-tabs-0-data-w-tab-3" href="#w-tabs-0-data-w-pane-3" role="tab"
                aria-controls="w-tabs-0-data-w-pane-3" aria-selected="false">
                <div>Part Types</div>
            </a>
        </div>
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Overview" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0">
                <div class="w-layout-grid main-grid">
                    {% include 'filter-bar.html' %}
                    {% include 'filtered-table.html' %}
                </div>
            </div>
            <div data-w-tab="Files" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2">
                <div class="w-layout-grid main-grid">
                    <div class="w-layout-grid _2-1-grid" style="grid-row-gap: 12px;">
                        <div style="display: grid; grid-template-columns: 6fr 1fr;">
                            <div style="margin-right: 5px;">
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="VIN" id="vin-input" required="">
                            </div>
                            <a id="decode-button" href="#" class="button button-small button-outline w-inline-block"
                                style="padding: 6px 18px; height: fit-content;">
                                <div>Decode</div>
                            </a>
                        </div>
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87ae-a2dac75e">
                            <div id="vehicle-title" style="padding: 12px;
                                border-radius: 6px;
                                background-color: #fff;
                                box-shadow: 0 1px 1px 0 rgba(118, 135, 154, 0.24), 0 3px 8px 0 rgba(118, 135, 154, 0.08);
                                display: none;">
                                <h6 class="no-space-bottom">2015 Honda Civic EX 1.8L</h6>
                            </div>
                        </div>
                    </div>
                    <div class="table-module" id="parts-table" style="display: none;">
                        <div class="table-headers"
                            style="display: flex; justify-content: space-between; background: white;">
                            <h2 class="no-space-bottom">Parts</h2>
                            {% if prefered_parts %}
                                <button type="submit" form="add-parts-form" class="button bg-primary-green w-inline-block" style="display: flex;" id="add-inventory-button">
                                    <div style="margin-right: 2px;">Add Parts</div>
                                    <img style="height: 20px" src="{% static 'icons/arrow-right-white.svg' %}" loading="lazy" alt="" class="pagination-arrow">
                                </button>
                            {% endif %}
                            
                        </div>
                        <div class="table-content" style="margin-top: 18px;">
                            <div class="table-list">
                                <div class="w-layout-grid table-headers" id="parts-list-headers">
                                    <div class="caption-large">Part name</div>
                                    <div class="caption-large">Stock Number</div>
                                    <div class="caption-large">Price</div>
                                    <div class="caption-large">Direction</div>
                                    <div class="caption-large">Description</div>
                                    <div class="caption-large">Location</div>
                                    <div class="caption-large">Grade</div>
                                </div>
                                <div>
                                    <form method="post" action="{% url 'create_parts' %}" id="add-parts-form">
                                        <div id="vehicle-details" style="display: none;">
                                            <input type="hidden" name="vin" id="vehicle-vin">
                                            <input type="hidden" name="year" id="vehicle-year">
                                            <input type="hidden" name="make" id="vehicle-make">
                                            <input type="hidden" name="model" id="vehicle-model">
                                            <input type="hidden" name="trim" id="vehicle-trim">
                                        </div>
                                        {% csrf_token %}
                                        {{ part_formset.management_form }}
                                        <div id="parts-list">
                                            {% for form in part_formset %}
                                            <div class="parts-list-row w-layout-grid table-row" id="form-{{ forloop.counter0 }}" style="padding: 0px 12px;">
                                                {{ form.as_p }}
                                                <div style="display: flex; align-self: inherit; margin-bottom: 12px;">
                                                    <a href="#" class="button button-small bg-primary-rose w-button delete-button" style="padding: 8px 8px; margin-right: 5px;">
                                                        <img style="height: 25px; max-width: none;" src="{% static 'icons/trash.svg' %}" loading="lazy" alt="">
                                                    </a>
                                                    <a href="#" class="button button-small bg-primary-green w-button add-button" style="padding: 8px 8px;">
                                                        <img style="height: 25px; max-width: none;" src="{% static 'icons/add-square-white.svg' %}" loading="lazy" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-w-tab="Part Types" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2">
                <div class="w-layout-grid main-grid">
                    <div class="table-module">
                        <form id="parts-form" method="post" action="{% url 'vehicles' %}">
                            {% csrf_token %}
                            <div class="account-delete"  style="margin-left: 24px; margin-right: 24px; margin-top: 0px; border: none; padding; none;">
                                <div class="content-width-small space-bottom-small">
                                    <h4>Included Part Types</h4>
                                    <div class="form-caption">Choose which part types you would like to be included when inventorying a vehicle</div>
                                </div>
                                <button type="submit" class="button button-small w-button">Save</button>
                            </div>
                            {% for checkbox in form.parts %}
                            <div class="full-table-row">
                                <div>
                                    {{ checkbox.choice_label }}
                                </div>
                                {{ checkbox.tag }}
                            </div>
                            {% endfor %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <style scoped>
    #parts-list-headers {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    }
    #parts-list > div.parts-list-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr .5fr;
    }
    .table-headers {
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 16px 16px;
    }
    .table-row {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    @media screen and (max-width:1300px) {
        #parts-list-headers {
            grid-template-columns: 1fr 1fr 1fr;
        }
        #parts-list > div.parts-list-row {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .table-headers {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .table-row {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    @media screen and (max-width:767px) {
        #parts-list-headers {
            grid-template-columns: 1fr 1fr;
        }
        #parts-list > div.parts-list-row {
            grid-template-columns: 1fr 1fr;
        }
        .table-headers {
            grid-template-columns: 1fr;

        }
        .table-row {
            grid-template-columns: 1fr;
        }
    }
    .table-title,
    .status {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .w-select {
        width: 90%;
    }

    @media screen and (max-width: 600px) {
        .stats {
            display: none;
        }
    }

    /* Animation for row deletion */
    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .fade-out {
        animation: fadeOut .5s forwards;
        position: relative;
    }


    .table-title,
    .status {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .w-select {
        width: 90%;
    }


    @media screen and (max-width: 600px) {
        .stats {
            display: none;
        }

    }
    @media screen and (max-width: 991px) {
        #filter-button {
            display: block !important;
        }
    }

    .form-row {
        margin-bottom: 10px;
    }

    .selection span {
        border-style: none !important;
    }

    .select2 {
        width: 100% !important;
        max-width: 100% !important;
        height: 38px !important;
    }

    .select2-selection__arrow {
        margin-right: 5px !important;
    }

    .select2-selection {
        height: 38px !important;
        border: 1px solid #e3e3e3 !important;
    }

    span.select2-selection.select2-selection--single {
        border: 1px solid #e1e6f0 !important;
        margin-right: 5px !important;
    }

    span.select2-selection.select2-selection--multiple {
        border: 1px solid #e1e6f0 !important;
        max-height: 100px;
        max-width: 28.75vw !important;
        overflow-y: auto;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border-radius: 16px;
        width: 60%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    @supports(-webkit-appearance: none) or (-moz-appearance: none) {

        input[type='checkbox'],
        input[type='radio'] {
            --active: #84ADC7;
            --active-inner: #fff;
            --focus: 2px rgba(39, 94, 254, .3);
            --border: #BBC1E1;
            --border-hover: #275EFE;
            --background: #fff;
            --disabled: #F6F8FF;
            --disabled-inner: #E1E6F9;
            -webkit-appearance: none;
            -moz-appearance: none;
            height: 21px;
            outline: none;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0;
            cursor: pointer;
            border: 1px solid var(--bc, var(--border));
            background: var(--b, var(--background));
            transition: background .3s, border-color .3s, box-shadow .2s;

            &:after {
                content: '';
                display: block;
                left: 0;
                top: 0;
                position: absolute;
                transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
            }

            &:checked {
                --b: var(--active);
                --bc: var(--active);
                --d-o: .3s;
                --d-t: .6s;
                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
            }

            &:disabled {
                --b: var(--disabled);
                cursor: not-allowed;
                opacity: .9;

                &:checked {
                    --b: var(--disabled-inner);
                    --bc: var(--border);
                }

                &+label {
                    cursor: not-allowed;
                }
            }

            &:hover {
                &:not(:checked) {
                    &:not(:disabled) {
                        --bc: var(--border-hover);
                    }
                }
            }

            &:focus {
                box-shadow: 0 0 0 var(--focus);
            }

            &:not(.switch) {
                width: 21px;

                &:after {
                    opacity: var(--o, 0);
                }

                &:checked {
                    --o: 1;
                }
            }

            &+label {
                font-size: 14px;
                line-height: 21px;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                margin-left: 4px;
            }
        }

        input[type='checkbox'] {
            &:not(.switch) {
                border-radius: 7px;

                &:after {
                    width: 5px;
                    height: 9px;
                    border: 2px solid var(--active-inner);
                    border-top: 0;
                    border-left: 0;
                    left: 7px;
                    top: 4px;
                    transform: rotate(var(--r, 20deg));
                }

                &:checked {
                    --r: 43deg;
                }
            }

            &.switch {
                width: 38px;
                border-radius: 11px;

                &:after {
                    left: 2px;
                    top: 2px;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background: var(--ab, var(--border));
                    transform: translateX(var(--x, 0));
                }

                &:checked {
                    --ab: var(--active-inner);
                    --x: 17px;
                }

                &:disabled {
                    &:not(:checked) {
                        &:after {
                            opacity: .6;
                        }
                    }
                }
            }
        }

        input[type='radio'] {
            border-radius: 50%;

            &:after {
                width: 19px;
                height: 19px;
                border-radius: 50%;
                background: var(--active-inner);
                opacity: 0;
                transform: scale(var(--s, .7));
            }

            &:checked {
                --s: .5;
            }
        }
    }

    // Demo

    ul {
        margin: 12px;
        padding: 0;
        list-style: none;
        width: 100%;
        max-width: 320px;

        li {
            margin: 16px 0;
            position: relative;
        }
    }

    html {
        box-sizing: border-box;
    }

    * {
        box-sizing: inherit;

        &:before,
        &:after {
            box-sizing: inherit;
        }
    }

    // Center & dribbble
    body {
        min-height: 100vh;
        font-family: 'Inter', Arial, sans-serif;
        color: #8A91B4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F6F8FF;

        @media(max-width: 800px) {
            padding: 20px;
        }
    }
</style> -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const decodeButton = document.getElementById("decode-button");
        const vehicleTitle = document.getElementById("vehicle-title");
        const partsTable = document.getElementById("parts-table");

        decodeButton.addEventListener("click", async function (event) {
            event.preventDefault();
            const vinInput = document.getElementById('vin-input').value;
            if (vinInput) {
                try {
                    const response = await fetch(`https://vpic.nhtsa.dot.gov/api/vehicles/decodevin/${vinInput}?format=json`);
                    const data = await response.json();
                    if (data.Results) {
                        const make = data.Results.find(result => result.Variable === "Make").Value;
                        const model = data.Results.find(result => result.Variable === "Model").Value;
                        const year = data.Results.find(result => result.Variable === "Model Year").Value;
                        const trim = data.Results.find(result => result.Variable === "Trim").Value;

                        document.getElementById('vehicle-vin').value = vinInput;
                        document.getElementById('vehicle-year').value = year;
                        document.getElementById('vehicle-make').value = make;
                        document.getElementById('vehicle-model').value = model;
                        document.getElementById('vehicle-trim').value = trim;

                        const trimText = trim !== null ? ` ${trim}` : '';
                        vehicleTitle.innerHTML = `<h6 class="no-space-bottom">${year} ${make} ${model}${trimText}</h6>`;
                        vehicleTitle.style.display = "block";
                        partsTable.style.display = "block";
                    }
                } catch (error) {
                    console.error('Error decoding VIN:', error);
                }
            }
        });

        function updateTotalForms() {
            const totalFormsInput = document.getElementById('id_form-TOTAL_FORMS');
            const currentCount = document.querySelectorAll('.table-row').length;
            totalFormsInput.value = currentCount;
        }

        function updateFormIndices() {
            document.querySelectorAll('.table-row').forEach((row, index) => {
                row.querySelectorAll('input, select, textarea').forEach(element => {
                    const name = element.getAttribute('name');
                    if (name) {
                        const newName = name.replace(/form-\d+-/, `form-${index}-`);
                        element.setAttribute('name', newName);
                        const id = element.getAttribute('id');
                        if (id) {
                            const newId = id.replace(/form-\d+-/, `form-${index}-`);
                            element.setAttribute('id', newId);
                        }
                    }
                });
            });
        }

        document.querySelectorAll('.delete-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const row = this.closest('.table-row');
                row.classList.add('fade-out');
                row.addEventListener('animationend', function () {
                    row.remove();
                    updateTotalForms();
                    updateFormIndices();
                });
            });
        });

        document.querySelectorAll('.add-button').forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                const row = this.closest('.table-row');
                const clone = row.cloneNode(true);

                const stockNumberInputs = document.querySelectorAll('[name$="stock_number"]');
                const stockNumbers = Array.from(stockNumberInputs).map(input => parseInt(input.value));
                const newStockNumber = Math.max(...stockNumbers) + 1;
                const stockNumberInput = clone.querySelector('[name$="stock_number"]');
                stockNumberInput.value = newStockNumber;


                row.parentNode.insertBefore(clone, row.nextSibling);
                
                attachEventListeners(clone);
                updateTotalForms();
                updateFormIndices();
            });
        });

        function attachEventListeners(row) {
            row.querySelector('.delete-button').addEventListener('click', function (event) {
                event.preventDefault();
                const rowToDelete = this.closest('.table-row');
                rowToDelete.classList.add('fade-out');
                rowToDelete.addEventListener('animationend', function () {
                    rowToDelete.remove();
                    updateTotalForms();
                    updateFormIndices();
                });
            });

            row.querySelector('.add-button').addEventListener('click', function (event) {
                event.preventDefault();
                const rowToAdd = this.closest('.table-row');
                const newClone = rowToAdd.cloneNode(true);

                // Increment the stock number
                const stockNumberInput = newClone.querySelector('[name$="stock_number"]');
                const currentStockNumber = parseInt(stockNumberInput.value);
                const newStockNumber = currentStockNumber + 1;
                stockNumberInput.value = newStockNumber;

                rowToAdd.parentNode.insertBefore(newClone, rowToAdd.nextSibling);
                attachEventListeners(newClone);
                updateTotalForms();
                updateFormIndices();
            });
        }

        updateTotalForms();
        updateFormIndices();
    });

</script>

{% endblock %}
