{% extends "root.html" %}

{% block content %}
<div class="dashboard-container">
    <div class="w-layout-grid main-grid">
        <div style="display: flex; justify-content: flex-end;">
            <div style="margin-right: 15px">
                <input id="filter-button" type="button" value="Filter Vehicles"
                        class="button button-small w-button filter-button" style="display: none;">
            </div>
            {% if user.u_pull_it_account %}
                <div style="margin-right: 15px">
                    <a href="/dashboards/add-vehicle/"><input type="button" value="+ Add Vehicle"
                            class="button button-small w-button bg-primary-green"></a>
                </div>
            {% else %}
                <div style="margin-right: 15px">
                    <a href="/dashboards/add-vehicle/"><input type="button" value="Inventory Vehicle"
                            class="button button-small w-button bg-primary-green"></a>
                </div>
            {% endif %}
        </div>
        <div class="w-layout-grid grid">
            <div class="style-guide-padding">
                <h6>Filters</h6>
                <form id="filter-form" class="w-layout-grid _3-grid" style="grid-row-gap: 5px !important;" onsubmit="event.preventDefault(); submitFilterForm();">
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc879e-a2dac75e">
                            <div style="display: flex;">
                                <div style="margin-right: 10px; width: 50%">
                                    <select name="year_start" id="Year-Start" class="text-field w-select" required="" onchange="submitFilterForm()">
                                        <option value="" selected disabled>Select Min Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div style="width: 50%;">
                                    <!-- <h6>Year End</h6> -->
                                    <select name="year_end" id="Year-End" class="text-field w-select" required="" onchange="submitFilterForm()">
                                        <option value="" selected disabled>Select Max Year</option>
                                        {% for year in years %}
                                        <option value="{{ year }}">{{ year }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e"  style="display: flex;">
                            <div style="margin-right: 12px">
                                <!-- <h6>Vehicle Model</h6> -->
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Make" name="vehicle_make" id="Vehicle-Make"
                                    required="" onkeyup="submitFilterForm()"">
                            </div>
                            <div>
                                <!-- <h6>Vehicle Model</h6> -->
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Model" name="vehicle_model" id="Vehicle-Model"
                                    required="" onkeyup="submitFilterForm()">
                            </div>
                        </div>
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                            <div>
                                <!-- <h6>Vehicle Model</h6> -->
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Stock Number" name="stock_number" id="Vehicle-Stock-Number"
                                    required="" onkeyup="submitFilterForm()">
                            </div>
                        </div>
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a7-a2dac75e">
                            <div>
                                <!-- <h6>Part Type</h6> -->
                                <select name="category" id="category" class="text-field w-select" required onchange="submitFilterForm()">
                                    <option value="" selected disabled>Select Category</option>
                                    {% for category in categories %}
                                    {% if category in vehicle.category %}
                                    <option value="{{ category }}" selected>{{ category }}</option>
                                    {% else %}
                                    <option value="{{ category }}">{{ category }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                            <div>
                                <!-- <h6>Vehicle Model</h6> -->
                                <input type="text" class="text-field w-input" maxlength="256" placeholder="Location" name="location" id="location"
                                    required="" onkeyup="submitFilterForm()">
                            </div>
                        </div>
                        <a id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#" class="button bg-primary-rose w-inline-block" style="width: 100%; display: flex; align-items: center; height: 37px;" onclick="clearFilters()">
                            <div>Clear</div>
                        </a>
                </form>
            </div>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h6>Filters</h6>
                <form id="filter-form-modal" class="w-layout-grid _3-grid" onsubmit="event.preventDefault(); submitFilterModalForm();" style="width: 100%">
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc879e-a2dac75e">
                        <div style="display: flex;">
                            <div style="margin-right: 10px; width: 50%">
                                <select name="year_start" id="Year-Start-Modal" class="text-field w-select" required="" onchange="submitFilterModalForm()">
                                    <option value="" selected disabled>Select Year</option>
                                    {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div style="width: 50%;">
                                <!-- <h6>Year End</h6> -->
                                <select name="year_end" id="Year-End-Modal" class="text-field w-select" required="" onchange="submitFilterModalForm()">
                                    <option value="" selected disabled>Select Year</option>
                                    {% for year in years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e" style="display: flex;">
                        <div style="margin-right: 12px;">
                            <input type="text" class="text-field w-input" maxlength="256" placeholder="Vehicle Make" name="vehicle_make" id="Vehicle-Make-Modal"
                                required="" onkeyup="submitFilterModalForm()">
                        </div>
                        <div>
                            <input type="text" class="text-field w-input" maxlength="256" placeholder="Vehicle Model" name="vehicle_model" id="Vehicle-Model-Modal"
                                required="" onkeyup="submitFilterModalForm()">
                        </div>
                    </div>
                    <div>
                        <input type="text" class="text-field w-input" maxlength="256" placeholder="Stock Number" name="stock_number" id="Vehicle-Stock-Number-Modal"
                            required="" onkeyup="submitFilterForm()">
                    </div>
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a7-a2dac75e">
                        <div>
                            <!-- <h6>Part Type</h6> -->
                            <select name="category" id="category-Modal" class="text-field w-select" required onchange="submitFilterModalForm()">
                                <option value="" selected disabled>Select Part Type</option>
                                {% for category in categories %}
                                <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                        <div>
                            <!-- <h6>Vehicle Model</h6> -->
                            <input type="text" class="text-field w-input" maxlength="256" placeholder="Location" name="location" id="location-Modal"
                                required="" onkeyup="submitFilterModalForm()">
                        </div>
                    </div>
                    <a id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#" class="button bg-primary-rose w-inline-block" style="width: 100%; display: flex; align-items: center; height: 37px;" onclick="clearFilters()">
                        <div>Clear</div>
                    </a>
                    <a id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#" class="button bg-primary-green w-inline-block" style="width: 100%; display: flex; align-items: center; height: 37px;" onclick="closeModal()">
                        <div>Filter</div>
                    </a>
            </form>
            </div>
        
        </div>
        <div id="vehicleEditModal" class="modal">
            <div class="modal-content">
                <span class="close" id="editVehicleClose">&times;</span>
                <h6>Edit Vehicles</h6>
                <form id="filter-form-modal" class="w-layout-grid _3-grid" style="width: 100%">
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                        <div>
                            <input type="text" class="text-field w-input" maxlength="256" placeholder="Row" name="row" id="row-edit"
                                required>
                        </div>
                    </div>
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                        <div>
                            <input type="text" class="text-field w-input" maxlength="256" placeholder="Location" name="location" id="location-edit"
                                required>
                        </div>
                    </div>
                    <div id="w-node-c0adb514-f4ff-0d6d-6bd8-03d2a5bc87a1-a2dac75e">
                        <div>
                            <select name="category" id="category-edit" class="text-field w-select">
                                <option value="" selected disabled>Select Category</option>
                                {% for category in categories %}
                                {% if category in vehicle.category %}
                                <option value="{{ category }}" selected>{{ category }}</option>
                                {% else %}
                                <option value="{{ category }}">{{ category }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <a id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#" class="button bg-primary-green w-inline-block" style="width: 100%; display: flex; align-items: center; height: 37px;" onclick="saveVehicleChanges()">
                        <div>Save Change</div>
                    </a>
            </form>
            </div>
        
        </div>
        <div class="module" style="padding: 0">
            <div style="margin: 16px 16px 0px 16px; display: flex; justify-content: end;">
                <div id="edit-button">
                    <a id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#"  class="button bg-primary-blue w-inline-block" style="width: auto; display: flex; align-items: center; height: 37px; padding: 12px 12px;">
                        <img style="height: 25px; margin-right: 2px" src="/static/icons/edit.svg" loading="lazy" alt="" class="nav-icon edit-icon">   Edit Vehicles
                    </a>
                </div>
                
                
            </div>
            <div class="table-module" id="table-container">
                <div class="table-content" style="margin-top: 15px;">
                    <div class="table-list">
                        <div class="w-layout-grid table-headers mobile-table">
                            <div class="caption-large select-column"></div>
                            <div class="caption-large">Year</div>
                            <div class="caption-large mobile tablet">Make</div>
                            <div class="caption-large">Model</div>
                            <div class="caption-large tablet mobile">Location</div>
                            <div class="caption-large">Row</div>
                            <div class="caption-large mobile">Category</div>
                        </div>
                        {% if vehicles %}
                            {% for vehicle in vehicles %}
                                <a href="{% url 'single_vehicle' vehicle.id %}" target="_blank">
                                    <div class="w-layout-grid table-row">
                                        <td><input type="checkbox" name="vehicle"  style="width: 30px; height: 30px;" value="{{ vehicle.id }}"></td>
                                        <div id="w-node-_6d0a7d03-8948-d1f4-7211-3504eaac5f94-cbeb6f31">{{ vehicle.year }}</div>
                                        <div class="tablet mobile">{{ vehicle.make }}</div>
                                        <div id="w-node-_6d0a7d03-8948-d1f4-7211-3504eaac5f8a-cbeb6f31" class="table-title tablet mobile" style="display: block">
                                            {{ vehicle.model }}
                                        </div>
                                        <div id="w-node-_6d0a7d03-8948-d1f4-7211-3504eaac5f94-cbeb6f31" class="tablet mobile">{{ vehicle.location|default:"" }}</div>
                                        <div id="w-node-_6d0a7d03-8948-d1f4-7211-3504eaac5f94-cbeb6f31" >{{ vehicle.row|default:"" }}</div>
                                        <div id="w-node-_6d0a7d03-8948-d1f4-7211-3504eaac5f94-cbeb6f31" class="mobile">{{ vehicle.category|default:"" }}</div>
                                    </div>
                                </a> 
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="pagination" style="display: flex; width: 100%; justify-content: flex-end; margin-bottom: 20px; margin-top: 20px;">
                        <span class="step-links" style="margin-right: 20px">
                            {% if vehicles.has_previous %}
                            <!-- <a href="?page=1">&laquo; first</a> -->
                            <a style="width: 50px" href="?page={{ vehicles.previous_page_number }}"><input type="button"
                                    value="<" class="button button-small w-button"></a>
                            {% else %}
                            <input type="button" value="<" class="button button-small w-button" disabled>
                            {% endif %}
            
                            <span class="current" style="width: 50px">
                                {{ vehicles.number }} of {{ vehicles.paginator.num_pages }}
                            </span>
            
                            {% if vehicles.has_next %}
                            <a href="?page={{ vehicles.next_page_number }}"><input type="button" value=">"
                                    class="button button-small w-button"></a>
                            {% else %}
                            <input type="button" value=">" class="button button-small w-button" disabled>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var editVehicleModal = document.getElementById("vehicleEditModal");
    var editVehicleBtn = document.getElementById("edit-button");
    editVehicleBtn.onclick = function () {
        editVehicleModal.style.display = "block";
    }
    var editVehicleModalSpan = document.getElementById("editVehicleClose");
    editVehicleModalSpan.onclick = function () {
        editVehicleModal.style.display = "none";
    }
    function clearVehicleCheckboxes() {
        // Select all checkboxes with the name 'part' and loop through them
        document.querySelectorAll('input[type="checkbox"][name="vehicle"]').forEach(function(checkbox) {
            checkbox.checked = false; // Uncheck the checkbox
        });
    }
    function saveVehicleChanges() {
        var selectedVehicleIds = [];
        $('input[type="checkbox"][name="vehicle"]:checked').each(function () {
            selectedVehicleIds.push($(this).val()); // Collecting IDs of checked vehicles
        });
        var row = document.getElementById('row-edit').value;
        var location = document.getElementById('location-edit').value;
        var category = document.getElementById('category-edit').value;
        console.log(row)
        if (!location && !row && category === "") {
            alert("Please fill out at least one field before saving changes.");
            return false; // Stop the form submission
        }
        var data = {
            vehicleIds: selectedVehicleIds,
            location: location,
            category: category,
            row: row
        };
        let params = new URLSearchParams(data).toString();
        fetch("{% url 'vehicles' %}?" + params, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-Request-Type': 'vehicleEdit'
            }
        })
        .then(response => response.text())
        .then(html => {
            clearVehicleCheckboxes();
            editVehicleModal.style.display = "none";
            window.location.reload();


        })
        .catch(error => console.error('Error:', error));


    }
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("filter-button");
    var span = document.getElementsByClassName("close")[0];
    btn.onclick = function () {
        modal.style.display = "block";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }

    


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal || event.target == editVehicleModal) {
            modal.style.display = "none";
            editVehicleModal.style.display = "none";
        }
    }
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }


    function clearFilters() {
        document.getElementById('Year-Start').selectedIndex = 0;
        document.getElementById('Year-Start').selectedIndex = 0;
        document.getElementById('category').selectedIndex = 0;
        document.getElementById('location').selectedIndex = 0;
        document.getElementById('Vehicle-Model').value = '';
        document.getElementById('Vehicle-Make').value = '';
        document.getElementById('Vehicle-Stock-Number').value = '';

        document.getElementById('Year-Start-Modal').selectedIndex = 0;
        document.getElementById('Year-Start-Modal').selectedIndex = 0;
        document.getElementById('location-Modal').selectedIndex = 0;
        document.getElementById('category-Modal').selectedIndex = 0;
        document.getElementById('Vehicle-Model-Modal').value = '';
        document.getElementById('Vehicle-Make-Modal').value = '';
        document.getElementById('Vehicle-Stock-Number-Modal').value = '';
        

        // If you are using any plugins like Select2, you may need to trigger a change event
        // so that the visual component updates correctly.
        $('#Year-Start').val(null).trigger('change');
        $('#Year-End').val(null).trigger('change');
        $('#category').val(null).trigger('change');
        $('#location').val(null).trigger('change');
        $('#Year-Start-Modal').val(null).trigger('change');
        $('#Year-End-Modal').val(null).trigger('change');
        $('#category-Modal').val(null).trigger('change');
        $('#location-Modal').val(null).trigger('change');
        $('#Vehicle-Stock-Number').val(null).trigger('change');
        // Trigger the filter form submission to refresh the results
        submitFilterForm();
        submitFilterModalForm();
    }


    function submitFilterForm() {
        var formData = new FormData(document.forms[0]);
        var queryParams = new URLSearchParams();
        for (var pair of formData.entries()) {
            queryParams.append(pair[0], pair[1]);
        }

        fetch("{% url 'vehicles' %}?" + queryParams.toString(), {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-Request-Type': 'vehicleFilter'
            }
        })
        .then(response => response.text())
        .then(html => {
            document.getElementById('table-container').innerHTML = html;
        })
        .catch(error => console.error('Error:', error));
    }
    function submitFilterModalForm() {
        var formData = new FormData(document.forms[1]);
        var queryParams = new URLSearchParams();

        for (var pair of formData.entries()) {
            queryParams.append(pair[0], pair[1]);
        }

        fetch("{% url 'vehicles' %}?" + queryParams.toString(), {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-Request-Type': 'clearVehicleFilter'
            }
        })
        .then(response => response.text())
        .then(html => {
            document.getElementById('table-container').innerHTML = html;
        })
        .catch(error => console.error('Error:', error));
    }



</script>
<style>
    .table-row {
        grid-template-columns: .35fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .mobile-table {
        grid-template-columns: .35fr 1fr 1fr 1fr 1fr 1fr  1fr;
    }

    @media screen and (max-width: 1000px) {
        .modal-content {
            width: 90% !important;
            /* Could be more or less, depending on screen size */
        }
    }
    @media screen and (max-width: 730px) {
        .table-row{
            grid-template-columns: .35fr 1fr 1fr 1fr 1fr;

        } 
        .mobile-table {
            grid-template-columns: .35fr 1fr 1fr 1fr 1fr;
        }
        .tablet {
            display: none;
        }
    }
    @media screen and (max-width: 479px) {
        .table-row{
            grid-template-columns: .35fr 1fr 1fr 1fr;

        } 
        .mobile-table {
            grid-template-columns: .35fr 1fr 1fr 1fr;
            grid-column-gap: 0% !important;
            display: inline-grid !important;
        }
    }
    @media screen and (max-width: 991px) {
        #filter-button{
            display: block !important;
        }
    }
    .form-row {
        margin-bottom: 10px;
    }

    .selection span {
        border-style: none !important;
    }

    .select2 {
        width: 100% !important;
        max-width: 100% !important;
        height: 38px !important;
    }

    .select2-selection__arrow {
        margin-right: 5px !important;
    }

    .select2-selection {
        height: 38px !important;
        border: 1px solid #e3e3e3 !important;
    }

    span.select2-selection.select2-selection--single {
        border: 1px solid #e1e6f0 !important;
        margin-right: 5px !important;
    }

    span.select2-selection.select2-selection--multiple {
        border: 1px solid #e1e6f0 !important;
        max-height: 100px;
        max-width: 28.75vw !important;
        overflow-y: auto;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1000;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border-radius: 16px;
        width: 60%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 15px;
        margin-right: 5px;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
{% endblock %}