{% extends "root.html" %}
{% block content %}
{% load static %}
<div class="dashboard-container">
    <div data-duration-in="300" data-duration-out="100" data-current="Overview" data-easing="ease" class="w-tabs">
        <div class="in-page-menu w-tab-menu" role="tablist">
            <a data-w-tab="Overview" class="in-page-menu-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
                href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
                <div>All Vehicles</div>
            </a>
            <a data-w-tab="Tasks" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab"
                aria-controls="w-tabs-0-data-w-pane-1" aria-selected="false">
                <div>Tasks</div>
            </a>
            <a data-w-tab="Files" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
                id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab"
                aria-controls="w-tabs-0-data-w-pane-2" aria-selected="false">
                <div>Inventory Vehicle</div>
            </a>
        </div>
        <div class="tabs-content w-tab-content">
            <div data-w-tab="Overview" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-0">
                <div class="w-layout-grid main-grid">
                    <div class="w-layout-grid _4-grid">
                        <div class="module">
                            <div class="content-chart">
                                <div class="chart-square"><img loading="lazy"
                                        src="/static/icons/car.svg"
                                        style="height: 25px;"
                                        alt="" class="icon">
                                    <div class="light-fill"></div>
                                </div>
                                <div class="div-block">
                                    <div class="caption">Vehicles</div>
                                    <div class="numbers-wrapper">
                                        <h3 class="number">652</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="module">
                            <div class="content-chart">
                                <div class="chart-square"><img width="24" loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883083baf8ae9a34bd3e6_clock.svg"
                                        alt="" class="icon">
                                    <div class="light-fill bg-primary-green"></div>
                                </div>
                                <div class="div-block">
                                    <div class="caption">Daily Inventories</div>
                                    <div class="numbers-wrapper">
                                        <h3 class="number">17</h3>
                                        <div class="negative-value">-10%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_7208daec-035a-49f2-4e9b-4a6236ac5087-ef2958bf" class="module">
                            <div class="content-chart">
                                <div class="chart-square"><img width="24" loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605883bbba1d7412377fefe7_truck.svg"
                                        alt="" class="icon">
                                    <div class="light-fill bg-primary-orange"></div>
                                </div>
                                <div class="div-block">
                                    <div class="caption">Deliveries</div>
                                    <div class="numbers-wrapper">
                                        <h3 class="number">153</h3>
                                        <div class="positive-value">+19%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="module">
                            <div class="content-chart">
                                <div class="chart-square"><img width="24" loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605884b47ee33f1eb5676cce_target.svg"
                                        alt="" class="icon">
                                    <div class="light-fill bg-primary-yellow"></div>
                                </div>
                                <div class="div-block">
                                    <div class="caption">Daily Purchases</div>
                                    <div class="numbers-wrapper">
                                        <h3 class="number">23</h3>
                                        <div class="positive-value">+10%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-module">
                        <div class="table-header">
                            <img style="height: 25px; align-self: center; margin-bottom: 15px;" src="/static/icons/filter-black.svg" loading="lazy" alt="">
                            <div>
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="Year" id="First-name" required="">
                            </div>
                            <div>
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="Make" id="First-name" required="">
                            </div>
                            <div>
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="Model" id="First-name" required="">
                            </div>
                            <div>
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="Stock Number" id="First-name" required="">
                            </div>
                            <div>
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name"
                                    data-name="First name" placeholder="VIN" id="First-name" required="">
                            </div>
                        </div>
                        <div class="table-content">
                            <div class="table-list">
                                <div class="w-layout-grid table-headers">
                                    <div class="caption-large">Stock #</div>
                                    <div class="caption-large">Make</div>
                                    <div class="caption-large">Model</div>
                                    <div class="caption-large">Year</div>
                                </div>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">ABC123</div>
                                        <div>Toyota</div>
                                        <div>Camry</div>
                                        <div>2020</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">DEF456</div>
                                        <div>Honda</div>
                                        <div>Accord</div>
                                        <div>2019</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">GHI789</div>
                                        <div>BMW</div>
                                        <div>3 Series</div>
                                        <div>2022</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">JKL012</div>
                                        <div>Mercedes</div>
                                        <div>C Class</div>
                                        <div>2021</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">MNO345</div>
                                        <div>Audi</div>
                                        <div>Q7</div>
                                        <div>2020</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">PQR678</div>
                                        <div>Hyundai</div>
                                        <div>Sonata</div>
                                        <div>2019</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">STU901</div>
                                        <div>Ford</div>
                                        <div>Fusion</div>
                                        <div>2022</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">VWX234</div>
                                        <div>Chevrolet</div>
                                        <div>Malibu</div>
                                        <div>2021</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">YZA567</div>
                                        <div>Nissan</div>
                                        <div>Altima</div>
                                        <div>2020</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">BCD890</div>
                                        <div>Subaru</div>
                                        <div>Impreza</div>
                                        <div>2019</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">EFG123</div>
                                        <div>Volkswagen</div>
                                        <div>Passat</div>
                                        <div>2022</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">HIJ456</div>
                                        <div>Volvo</div>
                                        <div>S60</div>
                                        <div>2021</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">KLM789</div>
                                        <div>Mazda</div>
                                        <div>6</div>
                                        <div>2020</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">NOP012</div>
                                        <div>Jeep</div>
                                        <div>Grand Cherokee</div>
                                        <div>2019</div>
                                    </div>
                                </a>
                                <a href="{% url 'single_vehicle' %}" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">QRS345</div>
                                        <div>Tesla</div>
                                        <div>Model 3</div>
                                        <div>2022</div>
                                    </div>
                                </a>
                            </div>
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div data-w-tab="Tasks" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-1">
                <div class="kanban">
                    <div class="kanban-wrapper">
                        <h4>To Be Inventoried</h4>
                        <div class="kanban-color-bar in-progress"></div>
                        <div class="kanban-card">
                            <div>2007 Honda Accord</div>
                        </div>
                        <div class="kanban-card">
                            <div>2009 Buick LeSabre</div>
                        </div>
                        <div class="kanban-card">
                            <div>2010 Audi A4</div>
                        </div>
                        <div class="kanban-card">
                            <div>2008 Ford F-150</div>
                        </div>
                        <div class="kanban-card">
                            <div>2014 Ram 1500</div>
                        </div>
                        <div class="kanban-card">
                            <div>2008 Chevrolet Suburban</div>
                        </div>
                    </div>
                    <div class="kanban-wrapper">
                        <h4>Processing</h4>
                        <div class="kanban-color-bar next-up"></div>
                        <div class="kanban-card">
                            <div>2009 Chevrolet 1500</div>
                        </div>
                        <div class="kanban-card">
                            <div>2015 Cadillac Escilade</div>
                        </div>
                    </div>
                    <div class="kanban-wrapper">
                        <h4>Recently Completed</h4>
                        <div class="kanban-color-bar done"></div>
                        <div class="kanban-card">
                            <div>1997 Jeep Grand Cherokee</div>
                        </div>
                        <div class="kanban-card">
                            <div>2015 Volvo S60</div>
                        </div>
                        <div class="kanban-card">
                            <div>1999 Volkswagen Passat</div>
                        </div>
                        <div class="kanban-card">
                            <div>2002 Subaru Impreza</div>
                        </div>
                        <div class="kanban-card">
                            <div>2015 Nissan Altima</div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-w-tab="Files" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
                aria-labelledby="w-tabs-0-data-w-tab-2">
                <div class="w-layout-grid main-grid">
                    <div>
                        <div class="table-header" style="justify-content: flex-start; padding: 24px 0px 16px;">
                            <div style="margin-right: 5px;">
                                <input type="text" class="text-field w-input" maxlength="256" name="First-name" data-name="First name"
                                    placeholder="VIN" id="vin-input" required="">
                            </div>
                            <a id="decode-button" href="#"
                                class="button button-small button-outline w-inline-block"
                                style="margin-right: 5px; padding: 6px 18px;">
                                <div>Decode</div>
                            </a>
                            <div id="vehicle-title" style="padding: 12px;
                                border-radius: 6px;
                                background-color: #fff;
                                box-shadow: 0 1px 1px 0 rgba(118, 135, 154, 0.24), 0 3px 8px 0 rgba(118, 135, 154, 0.08);
                                display: none;">
                                <h6 class="no-space-bottom">2015 Honda Civic EX 1.8L</h6>
                            </div>
                        </div>
                    </div>
                    <div class="table-module" id="parts-table" style="display: none;">
                        <div class="table-header" style="justify-content: space-between;">
                            <h4 class="no-space-bottom">Parts</h4>
                            <a id="w-node-_4a591f9f-f950-9529-d551-da13bb96044e-a2dac75e" href="{% url 'inventory_addition_success' %}"
                                class="button bg-primary-green w-inline-block">
                                <div>Add Inventory</div>
                            </a>
                        </div>
                        <div class="table-content">
                            <div class="table-list">
                                <div class="w-layout-grid table-headers">
                                    <div class="caption-large">Part name</div>
                                    <div class="caption-large">Price</div>
                                    <div class="caption-large">Description</div>
                                    <div class="caption-large">Interchange</div>
                                </div>
                                <a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">Engine</div>
                                        <div>$390.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-orange"></div>
                                            <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                                <option value="" disabled selected>Select Interchange</option>
                                                <option value="1">1.8L, VIN 2 (6th digit, gasoline, Sdn), Cal emissions</option>
                                                <option value="2">1.8L, VIN 2 (6th digit, gasoline, Sdn), Fed emissions</option>
                                                <option value="3">1.8L, VIN 3 (6th digit, gasoline, Cpe), Cal emissions</option>
                                                <option value="4">1.8L, VIN 3 (6th digit, gasoline, Cpe), Fed emissions</option>
                                            </select>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">Alternator</div>
                                        <div>$70.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-green"></div>
                                            <div>663924</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">A/C Compressor</div>
                                        <div>$65.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-green"></div>
                                            <div>666504</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">Bumper Assy (Front)</div>
                                        <div>$125.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-orange"></div>
                                            <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                                <option value="" disabled selected>Select Interchange</option>
                                                <option value="1">Sdn, EX</option>
                                                <option value="2">Sdn, EX-L</option>
                                                <option value="3">Cpe, EX</option>
                                                <option value="4">Cpe, EX-L (leather)</option>
                                            </select>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="table-row-link w-inline-block">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">Bumper Assy (Rear)</div>
                                        <div>$285.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-orange"></div>
                                            <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                                <option value="" disabled selected>Select Interchange</option>
                                                <option value="1">Sdn, 1.8L</option>
                                                <option value="2">Cpe, 1.8L</option>
                                            </select>
                                        </div>
                                    </div>
                                </a>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Starter</div>
                                    <div>$110.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-green"></div>
                                        <div>6682943</div>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Seat (Front)</div>
                                    <div>$45.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-orange"></div>
                                        <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                            <option value="" disabled selected>Select Interchange</option>
                                            <option value="1">(bucket), (air bag), cloth, (manual), Cpe, 1.8L, LH</option>
                                            <option value="2">(bucket), (air bag), cloth, (manual), Sdn, 1.8L, LH</option>
                                            <option value="3">(bucket), (air bag), leather, manual, Cpe, LH</option>
                                            <option value="4">(bucket), (air bag), leather, manual, Sdn, LH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Rack and Pinion</div>
                                    <div>$70.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-green"></div>
                                        <div>669839</div>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Radiator</div>
                                    <div>$75.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-orange"></div>
                                        <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                            <option value="" disabled selected>Select Interchange</option>
                                            <option value="1">1.8L, Denso manufacturer, AT (CVT)</option>
                                            <option value="2">1.8L, Denso manufacturer, MT</option>
                                            <option value="3">1.8L, Toyo manufacturer (AT, CVT)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Power Steering Pump</div>
                                    <div>$51.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-green"></div>
                                        <div>663927</div>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Door (Front) (Left)</div>
                                    <div>$615.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-orange"></div>
                                        <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                            <option value="" disabled selected>Select Interchange</option>
                                            <option value="1">(electric), Sdn, 1.8L, EX, LH</option>
                                            <option value="2">(electric), Sdn, 1.8L, EX-L (leather), LH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-layout-grid table-row">
                                    <div class="table-title">Door (Front) (Right)</div>
                                    <div>$615.00</div>
                                    <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                        data-name="Part description" placeholder="Description" id="part-description" required=""
                                        style="max-width: 90%;">
                                    <div class="status">
                                        <div class="indication-color bg-primary-orange"></div>
                                        <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                            <option value="" disabled selected>Select Interchange</option>
                                            <option value="1">(electric), Sdn, 1.8L, EX, RH</option>
                                            <option value="2">(electric), Sdn, 1.8L, EX-L (leather), RH</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="#" class="table-row-link w-inline-block" style="display: none;">
                                    <div class="w-layout-grid table-row">
                                        <div class="table-title">Bumper Assy (Rear)</div>
                                        <div>$285.00</div>
                                        <input type="text" class="text-field w-input" maxlength="256" name="part-description"
                                            data-name="Part description" placeholder="Description" id="part-description" required=""
                                            style="max-width: 90%;">
                                        <div class="status">
                                            <div class="indication-color bg-primary-orange"></div>
                                            <select id="interchange" name="interchange" data-name="Interchange" required="" class="text-field w-select">
                                                <option value="" disabled selected>Select Interchange</option>
                                                <option value="1">Sdn, 1.8L</option>
                                                <option value="2">Cpe, 1.8L</option>
                                            </select>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    /* .table-title, .status {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } */
</style>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const decodeButton = document.getElementById("decode-button");
        const vehicleTitle = document.getElementById("vehicle-title");
        const partsTable = document.getElementById("parts-table");

        decodeButton.addEventListener("click", function(event) {
            event.preventDefault();
            vehicleTitle.style.display = "block";
            partsTable.style.display = "block";
        });
    });
</script>
{% endblock %}
