{% extends "root.html" %}

{% block content %}
<div class="dashboard-container">
    <div class="w-layout-grid main-grid">
        <div style="margin: 15px; display: flex; justify-content: space-between;">
            <!-- <div style="margin-right: 15px">
                <input id="filter-button" type="button" value="Filter Parts"
                        class="button button-small w-button filter-button" style="display: none;">
            </div> -->
            <div id="edit-button-7"  onclick="saveMarkers()">
                <a title="Save Location Layout" id="w-node-_4a591f9f-f950-9529-d551-da13bb960451-a2dac75e" href="#"  class="button bg-primary-blue w-inline-block" style="width: auto; display: flex; align-items: center; height: 37px; padding: 12px 12px;">
                    Save Layout
                </a>
            </div>
            
        </div>
    </div>
    <div id="mapid" style="height: 500px; margin: 12px 15px 0px 15px;"></div>
    <input type="hidden" id="markersField" name="markersData">
</div>
<script>
    var newRectangles = [];
    existingSpots = {{ location_layout|safe }};
    existingSpots.forEach(function (bounds) {
        var latLngBounds = L.latLngBounds([bounds._southWest.lat, bounds._southWest.lng], [bounds._northEast.lat, bounds._northEast.lng]);
        newRectangles.push(latLngBounds);
    });




    var myMap = L.map('mapid').setView([40.143517089593566, -111.62220182251667], 17);
    L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(myMap);

    myMap.pm.addControls({
        position: 'topright', 
        drawCircle: false,    
        drawMarker: false,
        drawCircleMarker: false, 
        drawPolygon: false,
        drawPolyline: false,  
        drawRectangle: false, 
        editMode: false,       
        dragMode: true,      
        cutPolygon: false,    
        removalMode: true,  
        rotateMode: false,
        drawText: false,
    });

    myMap.on('pm:remove', function(e) {

        var removedLayer = e.layer; // This is the layer that was removed.
        // Now you need to find this layer in your newRectangles array.
        // This example assumes that you directly store L.rectangle instances in newRectangles. If you store bounds or some other identifier, you'll need to adjust the logic accordingly.
        newRectangles = newRectangles.filter(function(rectangle) {
            // Assuming newRectangles contains L.latLngBounds instances directly comparable to removedLayer.getBounds()
            return !rectangle.equals(removedLayer.getBounds());
        });
    });




    var isPlacingRectangle = false;
    var previewRectangle = null;
    let rectangleCorners = [];
    const SNAP_THRESHOLD = 2; // Meters
    var rectangleOrientation = 0;

    function calculateSnapPoint(latlng, widthFeet, heightFeet) {
        if (rectangleOrientation === 1) {
            [widthFeet, heightFeet] = [heightFeet, widthFeet];
        }
        const widthMeters = widthFeet / 3.2808;
        const heightMeters = heightFeet / 3.2808;
        
        // Calculate the rectangle bounds
        const [sw, ne] = calculateRectangleBounds(latlng, widthFeet, heightFeet);

        // Calculate the other two corners
        const nw = L.latLng(ne.lat, sw.lng);
        const se = L.latLng(sw.lat, ne.lng);

        // Put all corners in an array
        const previewRectangleCorners = {
            sw: sw,
            nw: nw,
            ne: ne,
            se: se
        };

        let snapLat = latlng.lat;
        let snapLng = latlng.lng;
        let minDist = Infinity;
        let snapCornerName = null; // This will hold the name of the snapping corner
        let snapCornerPoint = null; // This will hold the LatLng of the snapping corner

        Object.entries(previewRectangleCorners).forEach(([cornerName, previewCorner]) => {
            rectangleCorners.forEach(corner => {
                const dist = myMap.distance(corner, previewCorner);
                if (dist < minDist && dist < SNAP_THRESHOLD) {
                    minDist = dist;
                    snapLat = corner.lat;
                    snapLng = corner.lng;
                    snapCornerName = cornerName; // Update the name of the snapping corner
                    snapCornerPoint = previewCorner; // Update the LatLng of the snapping corner
                }
            });
        });

        return { latLng: L.latLng(snapLat, snapLng), corner: snapCornerName };
    }


    function calculateRectangleBounds(centerLatLng, widthFeet, heightFeet) {
        if (rectangleOrientation === 1) {
            [widthFeet, heightFeet] = [heightFeet, widthFeet];
        }
        // convert feet to meters
        const widthMeters = widthFeet / 3.2808;
        const heightMeters = heightFeet / 3.2808;

        // calculate the change in latitude for the height
        const deltaLat = (heightMeters / 40075017) * 360;

        // calculate the change in longitude for the width
        const deltaLng = (widthMeters / 40075017) * 360 / Math.cos(centerLatLng.lat * Math.PI / 180);

        let ne = L.latLng(centerLatLng.lat + deltaLat / 2, centerLatLng.lng + deltaLng / 2);
        const sw = L.latLng(centerLatLng.lat - deltaLat / 2, centerLatLng.lng - deltaLng / 2);

        // sw = L.latLng(ne.lat - deltaLat / 2, ne.lng - deltaLng / 2);
        // ne = L.latLng(ne.lat + deltaLat / 2, ne.lng + deltaLng / 2);

        return [sw, ne];
    }


    function calculateSnappedRectangleBounds(snapPoint, snapCornerName, widthFeet, heightFeet) {
        
        if (rectangleOrientation === 1) {
            [widthFeet, heightFeet] = [heightFeet, widthFeet];
        }
        
        // convert feet to meters
        const widthMeters = widthFeet / 3.2808;
        const heightMeters = heightFeet / 3.2808;
        
        // calculate the change in latitude for the height
        const deltaLat = (heightMeters / 40075017) * 360;
        
        // calculate the change in longitude for the width
        const deltaLng = (widthMeters / 40075017) * 360 / Math.cos(snapPoint.lat * Math.PI / 180);
        
        let ne, sw;

        switch (snapCornerName) {
            case 'sw':
                ne = L.latLng(snapPoint.lat + deltaLat, snapPoint.lng + deltaLng);
                sw = snapPoint;
                break;
            case 'nw':
                ne = L.latLng(snapPoint.lat, snapPoint.lng + deltaLng);
                sw = L.latLng(snapPoint.lat - deltaLat, snapPoint.lng);
                break;
            case 'ne':
                sw = L.latLng(snapPoint.lat - deltaLat, snapPoint.lng - deltaLng);
                ne = snapPoint;
                break;
            case 'se':
                sw = L.latLng(snapPoint.lat, snapPoint.lng - deltaLng);
                ne = L.latLng(snapPoint.lat + deltaLat, snapPoint.lng);
                break;
        }
        return [sw, ne];
    }

    function updatePreviewRectangle(e) {
        if (!isPlacingRectangle) return;
        let snapPoint = calculateSnapPoint(e.latlng, 20, 9);
        let snapCornerName = snapPoint.corner;

        snapPoint = snapPoint.latLng; // This is the LatLng object
        
        let boundsArray;
        if (snapCornerName === null) {
            boundsArray = calculateRectangleBounds(snapPoint, 20, 9);
        } else {
            boundsArray = calculateSnappedRectangleBounds(snapPoint, snapCornerName, 20, 9);
        }
        let bounds = L.latLngBounds(boundsArray[0], boundsArray[1]);
        if (previewRectangle) {
            previewRectangle.setBounds(bounds);
        } else {
            previewRectangle = L.rectangle(bounds, {color: "#DAF7A6", weight: 1, isPreview: true}).addTo(myMap);
        }
    }

    function placeRectangle(e) {
        let snapPoint = calculateSnapPoint(e.latlng, 20, 9);
        let snapCornerName = snapPoint.corner;
        snapPoint = snapPoint.latLng;
        let boundsArray;
        if (snapCornerName === null) {
            boundsArray = calculateRectangleBounds(snapPoint, 20, 9);
        } else {
            boundsArray = calculateSnappedRectangleBounds(snapPoint, snapCornerName, 20, 9);
        }
        let bounds = L.latLngBounds(boundsArray[0], boundsArray[1]);
        newRectangles.push(bounds);

        L.rectangle(bounds, {color: "#fe019a", weight: 3}).addTo(myMap);
        
        const corners = [bounds.getSouthWest(), bounds.getNorthWest(), bounds.getNorthEast(), bounds.getSouthEast()];
        rectangleCorners.push(...corners);

        if (previewRectangle) {
            myMap.removeLayer(previewRectangle);
            previewRectangle = null;
        }
        // Re-enable the preview for the next placement
        isPlacingRectangle = true;
        myMap.on('mousemove', updatePreviewRectangle);
        return bounds
    }
    
    myMap.pm.Toolbar.createCustomControl({
        name: 'toggleRectangleOrientation',
        block: 'custom',
        title: 'Toggle Rectangle Orientation',
        className: 'leaflet-pm-icon-rotate', // You may need to customize this class for an appropriate icon
        onClick: function(e) {
            if (e){
                rectangleOrientation = 1 - rectangleOrientation;
                myMap.pm.Toolbar.toggleButton('PlaceRectangle', false);
            }
        },
    });

    let isPlacingRectangleActive = false; // This variable keeps track of the button state

    myMap.pm.Toolbar.createCustomControl({
        name: 'PlaceRectangle',
        block: 'custom',
        title: 'Place Rectangle',
        className: 'leaflet-pm-icon-rectangle',
        onClick: function(e) {

            if (e){
                if (!isPlacingRectangleActive) {
                    isPlacingRectangle = true;
                    myMap.on('mousemove', updatePreviewRectangle);
                    myMap.on('click', placeRectangle);
                    myMap.pm.Toolbar.toggleButton('PlaceRectangle', false);
                    isPlacingRectangleActive = true; // Update the button state
                    
                } else {
                    // Stop the rectangle placement process
                    isPlacingRectangle = false;
                    if (previewRectangle) {
                        myMap.removeLayer(previewRectangle);
                        previewRectangle = null;
                    }
                    myMap.off('mousemove', updatePreviewRectangle);
                    myMap.off('click', placeRectangle);
                    isPlacingRectangleActive = false; // Update the button state
                    myMap.pm.Toolbar.toggleButton('PlaceRectangle', true);
                }
            }

            
        },
    });

    // vehicles = data['vehicles'];
    locationLayout = ({{ location_layout|safe }});

    locationLayout.forEach(function (bounds) {
        var latLngBounds = L.latLngBounds([bounds._southWest.lat, bounds._southWest.lng], [bounds._northEast.lat, bounds._northEast.lng]);
        L.rectangle(latLngBounds, {color: "#fe019a", weight: 3}).addTo(myMap)
        const corners = [latLngBounds.getSouthWest(), latLngBounds.getNorthWest(), latLngBounds.getNorthEast(), latLngBounds.getSouthEast()];
        rectangleCorners.push(...corners);
    });

    var rectangleBoundsArray = []; // Initialize the array to store rectangle bounds



    function saveMarkers() {

        myMap.pm.Toolbar.toggleButton('PlaceRectangle', false);
        let queryParams = new URLSearchParams();
        markersData =  JSON.stringify(newRectangles);
        
        fetch("{% url 'yard' %}", {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-Request-Type': 'saveYardLayout',
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: markersData
        })
        .then(response => response.text())
        .then(data => {
            location.reload();
        })
        .catch(error => console.error('Error:', error));

    }
    function buildMarkedVehicleSpots(vehiclesArray, map){
        vehiclesArray.forEach(function(vehicle){
            bounds = JSON.parse(vehicle.marker);
            var latLngBounds = L.latLngBounds([bounds._southWest.lat, bounds._southWest.lng], [bounds._northEast.lat, bounds._northEast.lng]);
            rectangle = L.rectangle(latLngBounds, {color: "#EC407A", weight: 4}).addTo(map)
            rectangle.bindPopup(`<strong><a href="/dashboards/single_vehicle/${vehicle.id}">${vehicle.year} ${vehicle.make} ${vehicle.model}<br>STK: ${vehicle.stock_number}<br>${vehicle.vin}<br>${vehicle.category}</a></strong>`);
        })

    }

</script>
<style>
    .mobile-bar{
        z-index: 1001;
    }
    .leaflet-top {
        z-index: 400 !important;
    }
    .sidebar-content {
        z-index: 1000 !important;
    }
</style>

{% endblock %}