{% extends "root.html" %}

{% block content %}
<div data-duration-in="300" data-duration-out="100" data-current="Profile" data-easing="ease"
    class="tabs-content w-tabs">
    <div class="in-page-menu w-tab-menu" role="tablist">
        <a data-w-tab="Company"
            class="in-page-menu-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
            href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
            <div>Company</div>
        </a>
        <a data-w-tab="Members" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
            id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2"
            aria-selected="false">
            <div>Members</div>
        </a>
    </div>
    <div class="tabs-content w-tab-content">
        <div data-w-tab="Company" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
            aria-labelledby="w-tabs-0-data-w-tab-0">
            <div class="utility-container">
                <div style="padding: 48px 0px; border-bottom: 1px solid #e1e6f0;">
                    <form method="post" action="{% url 'update_company' %}" enctype="multipart/form-data">
                        <div class="w-layout-grid form-grid space-bottom-small">
                            {% csrf_token %}
                            {% for field in company_form %}
                                <div class="w-form">
                                    <h6>{{ field.label }}</h6>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="button button-small w-button">Save Changes</button>
                    </form>
                    
                </div>
            </div> 
        </div>
        <div data-w-tab="Members" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
            aria-labelledby="w-tabs-0-data-w-tab-1">
            <div class="w-layout-grid _2-1-grid">
                <div class="w-layout-grid stacked-modules"> 
                    <a class="module module-link w-inline-block">
                        <div class="members-overview-list-item">
                            {% if user.icon %}
                                <img loading="lazy"
                                    src="{{ user.icon.url }}"
                                    alt="" class="members-overview-avatar">
                            {% endif %}
                            <div>
                                <h4 class="no-space-bottom">{{ user.first_name}} {{ user.last_name }}</h4>
                                <div class="small-text">{{ user.role }}</div>
                                <!-- <div class="status">
                                    <div class="indication-color bg-primary-green"></div>
                                    <div class="small-text">Online</div>
                                </div> -->
                            </div>
                        </div>
                    </a>
                    {% if users %}
                        {% for user in users %}
                            <a class="module module-link w-inline-block">
                                <div class="members-overview-list-item">
                                    {% if user.icon %}
                                        <img loading="lazy"
                                            src="{{ user.icon.url }}"
                                            alt="" class="members-overview-avatar">
                                    {% endif %}
                                    <div>
                                        <h4 class="no-space-bottom">{{ user.first_name }} {{ user.last_name }}</h4>
                                        <div class="small-text">{{ user.role }}</div>
                                        <!-- <div class="status">
                                            <div class="indication-color bg-primary-green"></div>
                                            <div class="small-text">Online</div>
                                        </div> -->
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="w-layout-grid stacked-modules">
                    <div id="w-node-_4281f6b2-61e0-d604-f1a1-77c1b14892f0-bd60c3d7" class="module">
                        <h4>{{ company.name }}</h4>
                        <div class="profile-details">
                            <div class="weight-500">Members</div>
                            <div class="text-grey-3">{{ users|length }}</div>
                        </div>
                        <div class="profile-details">
                            <div class="weight-500">Location</div>
                            <div class="text-grey-3">{{ address.city}}</div>
                        </div>
                        <div class="profile-details bottom">
                            <div class="weight-500">Website</div>{{ company.website|urlize }}
                        </div>
                    </div>
                    <div class="authentication-module" style="min-width: 100%">
                        <h2>Add User</h2>
                        <div class="authentication-form-block w-form">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <select id="role" name="role" class="text-field w-input" style="color: #999" required>
                                    <option value="" disabled selected>Role</option>
                                    <option value="Admin">Admin</option>
                                    <option value="User">User</option>
                                </select>
                                <input class="button" style="border: none; width: 100%" type="submit" value="Add User">
                            </form>
                           
                            <div class="form-success w-form-done" tabindex="-1" role="region" aria-label="Form success">
                                <div>Thank you! Your account has successfully been created.</div>
                            </div>
                            <div class="form-error w-form-fail" tabindex="-1" role="region" aria-label="Form failure">
                                <div>Oops! Something went wrong while creating your account.</div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div id="w-node-_63489f4b-2448-999c-ba5c-3f39ff56d949-bd60c3d7" class="module">
                        <div class="card-header">
                            <h4>Projects</h4><a href="#" class="small-text text-primary-blue">View all</a>
                        </div><a href="/project-management" class="projects-list first w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Dashboard Kit</h6>
                                    <div class="small-text text-grey-2">2 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Sport Website</h6>
                                    <div class="small-text text-grey-2">6 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Mobile App Kit</h6>
                                    <div class="small-text text-grey-2">1 day ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list last w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Landingpage System</h6>
                                    <div class="small-text text-grey-2">1 week ago</div>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <style>
    form ul {
        list-style-type: none !important;
        margin: 0 !important;
        padding: 5px 10px 5px 10px !important;
        background-color: #FE938C;
        border-radius: 8px;
        font-size: small;
        line-height: normal;
    }
    /* .errorList {
        list-style-type: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    } */
</style> -->
{% endblock %}