{% extends "root.html" %}

{% block content %}
<div data-duration-in="300" data-duration-out="100" data-current="Profile" data-easing="ease"
    class="tabs-content w-tabs">
    <!-- <div class="in-page-menu w-tab-menu" role="tablist"><a data-w-tab="Profile"
            class="in-page-menu-link w-inline-block w-tab-link w--current" id="w-tabs-0-data-w-tab-0"
            href="#w-tabs-0-data-w-pane-0" role="tab" aria-controls="w-tabs-0-data-w-pane-0" aria-selected="true">
            <div>Profile</div>
        </a><a data-w-tab="Projects" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
            id="w-tabs-0-data-w-tab-1" href="#w-tabs-0-data-w-pane-1" role="tab" aria-controls="w-tabs-0-data-w-pane-1"
            aria-selected="false">
            <div>Projects</div>
        </a><a data-w-tab="Members" class="in-page-menu-link w-inline-block w-tab-link" tabindex="-1"
            id="w-tabs-0-data-w-tab-2" href="#w-tabs-0-data-w-pane-2" role="tab" aria-controls="w-tabs-0-data-w-pane-2"
            aria-selected="false">
            <div>Members</div>
        </a>
    </div> -->
    <div class="tabs-content w-tab-content">
        <!-- <div data-w-tab="Profile" class="w-tab-pane w--tab-active" id="w-tabs-0-data-w-pane-0" role="tabpanel"
            aria-labelledby="w-tabs-0-data-w-tab-0">
            <div class="w-layout-grid _2-1-grid">
                <div class="w-layout-grid stacked-modules">
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b326-bd60c3d7" class="module"><a href="/user"
                            class="user-details w-inline-block"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaebf62f4f1b3ef035_Dash%20-%20Avatar%2007-min.jpg"
                                alt="" class="user-avatar">
                            <div>
                                <h5 class="no-space-bottom">Alexa Sullivian</h5>
                                <div class="small-text text-grey-2">06/01/21 14:00</div>
                            </div>
                        </a>
                        <div class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo
                            pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.
                        </div><img
                            sizes="(max-width: 479px) 82vw, (max-width: 991px) 89vw, (max-width: 1279px) 72vw, (max-width: 1439px) 75vw, (max-width: 1919px) 70vw, 1152px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%2520protection-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%20protection-min.jpg 4500w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293f165a0bda4bf8e6bbf_password%20protection-min.jpg"
                            loading="lazy" alt="" class="image">
                        <div class="feed-interaction-bar">
                            <div class="feed-interactions-wrapper"><a href="#"
                                    class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882db1b6e8522d4e75ba6_repeat.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a><a href="#" class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d6d059b2e55d9886cb_message-circle.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a></div><a href="#" class="feed-share w-inline-block"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc13ede7ca254a24ca_share-2.svg"
                                    alt="" class="feed-icon">
                                <div class="small-text">Share</div>
                            </a>
                        </div>
                    </div>
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b33f-bd60c3d7" class="module"><a href="/user"
                            class="user-details w-inline-block"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                alt="" class="user-avatar">
                            <div>
                                <h5 class="no-space-bottom">Joann Summers</h5>
                                <div class="small-text text-grey-2">06/01/21 14:00</div>
                            </div>
                        </a>
                        <div class="w-richtext">
                            <p>The rich text element allows you to create and format headings, paragraphs, blockquotes,
                                images, and video all in one place instead of having to add and format them
                                individually. Just double-click and easily create content.</p>
                            <h4>Static and dynamic content editing</h4>
                            <p>A rich text element can be used with static or dynamic content. For static content, just
                                drop it into any page and begin editing. For dynamic content, add a rich text field to
                                any collection and then connect a rich text element to that field in the settings panel.
                                Voila!</p>
                            <ul role="list">
                                <li>Goal Targeting</li>
                                <li>In Depth Reflections</li>
                                <li>Audience Reviews</li>
                            </ul>
                        </div>
                        <div class="feed-interaction-bar">
                            <div class="feed-interactions-wrapper"><a href="#"
                                    class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882db1b6e8522d4e75ba6_repeat.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">15</div>
                                </a><a href="#" class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d6d059b2e55d9886cb_message-circle.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">7</div>
                                </a></div><a href="#" class="feed-share w-inline-block"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc13ede7ca254a24ca_share-2.svg"
                                    alt="" class="feed-icon">
                                <div class="small-text">Share</div>
                            </a>
                        </div>
                    </div>
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b363-bd60c3d7" class="module"><a href="/user"
                            class="user-details w-inline-block"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                alt="" class="user-avatar">
                            <div>
                                <h5 class="no-space-bottom">Joseph&nbsp;Nieves</h5>
                                <div class="small-text text-grey-2">06/01/21 14:00</div>
                            </div>
                        </a>
                        <div class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo
                            pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.
                        </div>
                        <div class="feed-interaction-bar">
                            <div class="feed-interactions-wrapper"><a href="#"
                                    class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882db1b6e8522d4e75ba6_repeat.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a><a href="#" class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d6d059b2e55d9886cb_message-circle.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a></div><a href="#" class="feed-share w-inline-block"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc13ede7ca254a24ca_share-2.svg"
                                    alt="" class="feed-icon">
                                <div class="small-text">Share</div>
                            </a>
                        </div>
                    </div>
                    <div id="w-node-e3c94d32-8e47-edf0-0271-5bee00f27672-bd60c3d7" class="module"><a href="/user"
                            class="user-details w-inline-block"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                alt="" class="user-avatar">
                            <div>
                                <h5 class="no-space-bottom">Mike Devon</h5>
                                <div class="small-text text-grey-2">06/01/21 14:00</div>
                            </div>
                        </a>
                        <div class="space-bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Commodo
                            pellentesque massa tellus ac augue. Lectus arcu at in in rhoncus malesuada ipsum turpis.
                        </div><img
                            sizes="(max-width: 479px) 82vw, (max-width: 991px) 89vw, (max-width: 1279px) 72vw, (max-width: 1439px) 75vw, (max-width: 1919px) 70vw, 1152px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%2520database-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%20database-min.jpg 4500w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/61829414feadef860389615a_encrypted%20database-min.jpg"
                            loading="lazy" alt="" class="image">
                        <div class="feed-interaction-bar">
                            <div class="feed-interactions-wrapper"><a href="#"
                                    class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882db1b6e8522d4e75ba6_repeat.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a><a href="#" class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d6d059b2e55d9886cb_message-circle.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">10</div>
                                </a></div><a href="#" class="feed-share w-inline-block"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc13ede7ca254a24ca_share-2.svg"
                                    alt="" class="feed-icon">
                                <div class="small-text">Share</div>
                            </a>
                        </div>
                    </div>
                    <div id="w-node-c35c8086-5883-3e1f-95ad-11016fa1adc6-bd60c3d7" class="module">
                        <div class="user-details"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                alt="" class="user-avatar">
                            <div>
                                <h5 class="no-space-bottom">Sidney Buckley</h5>
                                <div class="small-text text-grey-2">06/01/21 14:00</div>
                            </div>
                        </div>
                        <div class="w-richtext">
                            <p>The rich text element allows you to create and format headings, paragraphs, blockquotes,
                                images, and video all in one place instead of having to add and format them
                                individually. Just double-click and easily create content.</p>
                            <p>A rich text element can be used with static or dynamic content. For static content, just
                                drop it into any page and begin editing. For dynamic content, add a rich text field to
                                any collection and then connect a rich text element to that field in the settings panel.
                                Voila!</p>
                        </div>
                        <div class="feed-interaction-bar">
                            <div class="feed-interactions-wrapper"><a href="#"
                                    class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882db1b6e8522d4e75ba6_repeat.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">15</div>
                                </a><a href="#" class="feed-interactions w-inline-block"><img loading="lazy"
                                        src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882d6d059b2e55d9886cb_message-circle.svg"
                                        alt="" class="feed-icon">
                                    <div class="small-text">7</div>
                                </a></div><a href="#" class="feed-share w-inline-block"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605882dc13ede7ca254a24ca_share-2.svg"
                                    alt="" class="feed-icon">
                                <div class="small-text">Share</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="w-layout-grid stacked-modules">
                    <div id="w-node-_0142e09c-36b4-1f47-8c05-1fada5f2b37c-bd60c3d7" class="module">
                        <div class="profile-details">
                            <div class="weight-500">Members</div>
                            <div class="text-grey-3">8</div>
                        </div>
                        <div class="profile-details">
                            <div class="weight-500">Location</div>
                            <div class="text-grey-3">New York City</div>
                        </div>
                        <div class="profile-details bottom">
                            <div class="weight-500">Website</div><a href="#">dashers.com</a>
                        </div>
                    </div>
                    <div class="module">
                        <div class="card-header">
                            <h4>Ratio Chart</h4>
                        </div>
                        <div class="child-content-center"><img loading="lazy"
                                src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/608ac3a48aae24e8ac5297e2_Dash%20Chart%2002.svg"
                                alt="" class="cirlce-chart">
                            <div class="chart-colors-wrapper">
                                <div class="label">
                                    <div class="indication-color bg-primary-blue"></div>
                                    <div class="small-text">Completion Ratio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_2de24008-05c2-d3a5-9f92-640fbc23b021-bd60c3d7" class="module">
                        <div class="card-header">
                            <h4>Projects</h4><a href="#" class="small-text text-primary-blue">View all</a>
                        </div><a href="/project-management" class="projects-list first w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Dashboard Kit</h6>
                                    <div class="small-text text-grey-2">2 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Sport Website</h6>
                                    <div class="small-text text-grey-2">6 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Mobile App Kit</h6>
                                    <div class="small-text text-grey-2">1 day ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list last w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Landingpage System</h6>
                                    <div class="small-text text-grey-2">1 week ago</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div id="w-node-_760be94d-c7e1-eb70-fb5a-cba54e67c776-bd60c3d7" class="module">
                        <div class="card-header">
                            <h4>Members</h4><a href="#" class="small-text text-primary-blue">View all</a>
                        </div><a href="/user" class="members-list first w-inline-block">
                            <div class="member-list-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                    alt="" class="user-avatar">
                                <div>
                                    <h5 class="no-space-bottom">Sidneyss Buckley</h5>
                                    <div class="small-text text-grey-2">Online</div>
                                </div>
                            </div>
                        </a><a href="/user" class="members-list w-inline-block">
                            <div class="member-list-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                    alt="" class="user-avatar">
                                <div>
                                    <h5 class="no-space-bottom">Mike Devon</h5>
                                    <div class="small-text text-grey-2">Online</div>
                                </div>
                            </div>
                        </a><a href="/user" class="members-list w-inline-block">
                            <div class="member-list-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                    alt="" class="user-avatar">
                                <div>
                                    <h5 class="no-space-bottom">Joseph Nieves</h5>
                                    <div class="small-text text-grey-2">Online</div>
                                </div>
                            </div>
                        </a><a href="/user" class="members-list last w-inline-block">
                            <div class="member-list-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                    alt="" class="user-avatar">
                                <div>
                                    <h5 class="no-space-bottom">Joann Summers</h5>
                                    <div class="small-text text-grey-2">Offline</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div data-w-tab="Projects" class="w-tab-pane" id="w-tabs-0-data-w-pane-1" role="tabpanel"
            aria-labelledby="w-tabs-0-data-w-tab-1">
            <div class="w-layout-grid _3-grid">
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%2520Visual%252002-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%20Visual%2002-min.jpg 4500w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293485ae7ec65fa765a9c_Project%20Visual%2002-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Dashboard UI&nbsp;Kit</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="avatar-row"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                    alt="" class="in-row-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4c9ca97e6dee1e3_Dash%20-%20Avatar%2006-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg 4501w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Booking System</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="project-avatars"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                    alt="" class="project-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da5bf3949e3151291c5_Dash%20-%20Avatar%2008-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg 4501w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Unisport Pro</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="project-avatars"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa1a46298c089755f6_Dash%20-%20Avatar%2005-min.jpg"
                                    alt="" class="project-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa34d150a5be8775bf_Dash%20-%20Avatar%2001-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg 4500w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Virtual Reality App</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="avatar-row"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da6bf39491be81291c6_Dash%20-%20Avatar%2009-min.jpg"
                                    alt="" class="in-row-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4c9ca97e6dee1e3_Dash%20-%20Avatar%2006-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa3d1f8120bfc88c26_Dash%20-%20Avatar%2002-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg 4500w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Restaurant Landing</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="project-avatars"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                    alt="" class="project-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4096750a7795e_Dash%20-%20Avatar%2004-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3da5bf3949e3151291c5_Dash%20-%20Avatar%2008-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
                <div class="project-module">
                    <div class="project-module-top"><img
                            sizes="(max-width: 479px) 87vw, (max-width: 767px) 92vw, (max-width: 991px) 28vw, (max-width: 1279px) 22vw, (max-width: 1439px) 24vw, (max-width: 1919px) 22vw, 364px"
                            srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%2520Visual%252005-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%20Visual%2005-min.jpg 4501w"
                            src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a74baeb8336ddc7654_Project%20Visual%2005-min.jpg"
                            loading="lazy" alt="" class="project-thumbnail"></div>
                    <div class="project-module-content">
                        <h3 class="space-title-small">Hosting Platform</h3>
                        <div class="space-bottom-small">Lorem ipsum dolor sit amet, consectetur Commodo adipiscing elit
                            dolor.</div>
                        <div class="divider"></div>
                        <div class="project-details">
                            <div class="project-avatars"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa1a46298c089755f6_Dash%20-%20Avatar%2005-min.jpg"
                                    alt="" class="project-avatar first"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfa34d150a5be8775bf_Dash%20-%20Avatar%2001-min.jpg"
                                    alt="" class="project-avatar"><img loading="lazy"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/605b3cfaf4e4099af5a7795f_Dash%20-%20Avatar%2003-min.jpg"
                                    alt="" class="project-avatar"></div><a href="#"
                                class="button button-outline button-small w-button">View Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div style="display: block" data-w-tab="Members" class="w-tab-pane" id="w-tabs-0-data-w-pane-2" role="tabpanel"
            aria-labelledby="w-tabs-0-data-w-tab-2">
            <div class="w-layout-grid _2-1-grid">
                <div class="w-layout-grid stacked-modules">
                    <a class="module module-link w-inline-block">
                        <div class="members-overview-list-item">
                            {% if user.icon %}
                                <img loading="lazy"
                                    src="{{ user.icon.url }}"
                                    alt="" class="members-overview-avatar">
                            {% endif %}
                            <div>
                                <h4 class="no-space-bottom">{{ user.first_name}} {{ user.last_name }}</h4>
                                <div class="small-text">{{ user.role }}</div>
                                <!-- <div class="status">
                                    <div class="indication-color bg-primary-green"></div>
                                    <div class="small-text">Online</div>
                                </div> -->
                            </div>
                        </div>
                    </a>
                    {% if users %}
                        {% for user in users %}
                            <a class="module module-link w-inline-block">
                                <div class="members-overview-list-item">
                                    {% if user.icon %}
                                        <img loading="lazy"
                                            src="{{ user.icon.url }}"
                                            alt="" class="members-overview-avatar">
                                    {% endif %}
                                    <div>
                                        <h4 class="no-space-bottom">{{ user.first_name }} {{ user.last_name }}</h4>
                                        <div class="small-text">{{ user.role }}</div>
                                        <!-- <div class="status">
                                            <div class="indication-color bg-primary-green"></div>
                                            <div class="small-text">Online</div>
                                        </div> -->
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="w-layout-grid stacked-modules">
                    <div id="w-node-_4281f6b2-61e0-d604-f1a1-77c1b14892f0-bd60c3d7" class="module">
                        <h4>{{ company.name }}</h4>
                        <div class="profile-details">
                            <div class="weight-500">Members</div>
                            <div class="text-grey-3">{{ users|length }}</div>
                        </div>
                        <div class="profile-details">
                            <div class="weight-500">Location</div>
                            <div class="text-grey-3">{{ address.city}}</div>
                        </div>
                        <div class="profile-details bottom">
                            <div class="weight-500">Website</div>{{ company.website|urlize }}
                        </div>
                    </div>
                    <div class="authentication-module" style="min-width: 100%">
                        <h2>Add User</h2>
                        <div class="authentication-form-block w-form">
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Submit">
                            </form>
                           
                            <div class="form-success w-form-done" tabindex="-1" role="region" aria-label="Form success">
                                <div>Thank you! Your account has successfully been created.</div>
                            </div>
                            <div class="form-error w-form-fail" tabindex="-1" role="region" aria-label="Form failure">
                                <div>Oops! Something went wrong while creating your account.</div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div id="w-node-_63489f4b-2448-999c-ba5c-3f39ff56d949-bd60c3d7" class="module">
                        <div class="card-header">
                            <h4>Projects</h4><a href="#" class="small-text text-primary-blue">View all</a>
                        </div><a href="/project-management" class="projects-list first w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%2520Visual%252006-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290cffe17403887a80e16_Project%20Visual%2006-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Dashboard Kit</h6>
                                    <div class="small-text text-grey-2">2 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%2520Visual%252004-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290d8f89d5e26b68e8194_Project%20Visual%2004-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Sport Website</h6>
                                    <div class="small-text text-grey-2">6 hr ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%2520Visual%252003-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg 4501w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618290dcedd0c3166a7ceb2a_Project%20Visual%2003-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Mobile App Kit</h6>
                                    <div class="small-text text-grey-2">1 day ago</div>
                                </div>
                            </div>
                        </a><a href="/project-management" class="projects-list last w-inline-block">
                            <div class="project-list-logo"><img sizes="64px"
                                    srcset="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-800.jpeg 800w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1080.jpeg 1080w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-1600.jpeg 1600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2000.jpeg 2000w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-2600.jpeg 2600w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%2520Visual%252001-min-p-3200.jpeg 3200w, https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg 4500w"
                                    src="https://assets.website-files.com/6057ab51530cb39d3fdac75d/618293a3d815fcc058549708_Project%20Visual%2001-min.jpg"
                                    loading="lazy" alt="" class="project-small-thumbnail">
                                <div>
                                    <h6 class="no-space-bottom">Landingpage System</h6>
                                    <div class="small-text text-grey-2">1 week ago</div>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    form ul {
        list-style-type: none !important;
        margin: 0 !important;
        padding: 5px 10px 5px 10px !important;
        background-color: #FE938C;
        border-radius: 8px;
        font-size: small;
        line-height: normal;
    }
    /* .errorList {
        list-style-type: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    } */
</style>
{% endblock %}